/**********************************************************************************/
/* Global *************************************************************************/
/**********************************************************************************/

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-moz-tap-highlight-color: rgba(0,0,0,0);
}

a {	
	-webkit-transition: color .2s;
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
	text-decoration:none;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
	padding: 0;
}

html.overflow-y-hidden,
body.overflow-y-hidden
{
	overflow:hidden;
}

body {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	position:inherit;
}

h1:first-child {
	margin-top:-0.35em;
}

ins {
	text-decoration:none;
}

article {
	margin-bottom:40px;
}

.woocommerce-page article {
	margin:0;
}

address {
	font-size: 0.875em;
	line-height:1.714em;
	margin-bottom:20px;
	font-style: normal;
	/*color: #555555;*/
}

audio {
	visibility:hidden;
}

pre {
    font-family: Courier;
    font-size: 0.8em;
	padding:25px 30px;
	line-height:1.8em;
	border-width:1px;
	border-style:solid;
	margin-bottom:30px;
}

table {
	width:100%;
	margin-bottom:40px;
	background:none;
}

table table {
	margin-bottom:0;
}

table thead th {
	text-transform:uppercase;
	font-size:13px !important;
}

table tbody th {
	font-weight:normal;
}

table tr {
	border-bottom-width:1px;
	border-bottom-style:solid;
	text-align:left;
}

blockquote {
	margin:0 0 20px 0;
	padding:0;
	border:0;
	font-size:30px;
	color:#000;
	line-height:1.3em;
	/*padding:20px 0 0 60px;*/
}

blockquote p {
	font-size: 18px;
	line-height: 1.555em;
}

blockquote cite {
	margin:15px 0 0 0;
	font-style:normal;
	text-transform:uppercase;
	line-height: 1.461em;
}

ul, ol, dl {
	margin-bottom: 0;
}

dl {
	/*padding:30px 0 30px 60px;*/
}

dl dd { 
	margin:0;
}

dl.wp-caption {
	padding:0;
}

dt {
	/*font-size:24px;*/
}

dd {
	padding: 10px 0px 30px 30px;
}

.row-relative {
	position: relative;
}

.vertical-aligned { 
	margin: auto;
	position: absolute;
	top: 50%;
	/*-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);*/
	margin-top:-20px;
}

.vertical-aligned.to-left {
	left:0; right:auto;
}

.vertical-aligned.to-right {
	right:0; left:auto;
}

.post-edit-link {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
}

.edit-link .fa-pencil-square-o {
	font-size: 0.8125em;
}

label {
    font-weight: bold;
}

/**********************************************************************************/
/* Icons **************************************************************************/
/**********************************************************************************/

ul.font-group {
    list-style: none;
    margin: 30px 0 80px 0 !important;
    padding: 0 !important;
    width: 100%;
}

ul.font-group:before,
ul.font-group:after {
    clear:both;
    content:" ";
    display:block;
    height:0;
    visibility:hidden;
}

ul.font-group li {
    width: 33.33333%;
    height: 75px;
    position: relative;
    float: left;
    padding: 15px 0;
    margin: 0 0 30px 0;
    text-align: center !important;
}

ul.font-group li:nth-child(3n+1) {
    clear: both;
}

ul.font-group li i {
    font-size: 28px;
    height: 50px;
    padding-top: 30px;
    position: relative;
    /*-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;*/
}

ul.font-group li.active i {
    /*padding-top: 20px;*/
}

ul.font-group li span {
    font-family: inherit;
}

ul.font-group li .icon-name {
    clear: both;
    display: block;
    width: 100%;
    font-size: 12px;
    padding: 10px 10px 0 10px;
    line-height: 1.3em;
    position: absolute;
    top: 100%;
    text-align: center;
	opacity: 0.55;
}

ul.font-group li .icon-value {
    display: none;
}



/**********************************************************************************/
/* Top Bar ************************************************************************/
/**********************************************************************************/

#site-top-bar {
	background:#314381;
	font-size:13px;
	color:#fff;
	text-transform: none;
	display:none;
	
	position: relative;
	z-index: 101;
}

#site-top-bar ul,
#site-top-bar ol,
#site-top-bar dl
{
	font-size: 1em;
	line-height:1.8em;
}

.site-top-message {
	padding: .75em 0;
	line-height:1.8em;
}

.site-language-switcher {
	float:left;
	margin-right:15px;
	margin-left:-15px;
	position:relative;
}

.site-language-switcher:after {
	content:"";
	display:block;
	position:absolute;
	width:1px;
	height:20px;
	background:#fff;
	opacity:.3;
	top:50%;
	margin-top:-10px;
	right:0;
}


/* menu */

#site-navigation-top-bar {
	float: right;
	margin-right:-15px;
}


/* site social*/

.site-social-icons-wrapper {
	float:right;
}

.site-social-icons {
	text-align: center;
	vertical-align: middle;
}

.site-social-icons ul {
	list-style:none;
	margin:0;
	padding:0 0 0 20px;
	line-height:1.8em;
	overflow: auto;
	font-size:16px !important;
}

.site-social-icons ul li {
	padding:8px 8px 7px 8px;
	float:left;
}

.site-social-icons ul li:last-child {
	padding:8px 0 7px 8px;
}

.site-social-icons ul li a i {
	-webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}

.site-social-icons ul li a:hover i {
	opacity:.6;
}

.site-social-icons ul li span {
	display:none;
}



/**********************************************************************************/
/* Header *************************************************************************/
/**********************************************************************************/

.site-header {
	position: relative;
	z-index: 100;
}

.site-header.header-centered
{
	text-align: center;
}

.site-header.header-centered .sub-menu
{
	text-align: left;
}

.site-header-wrapper {
	position:relative;
}

.site-header ul,
.site-header ol,
.site-header dl,
.site-header-sticky ul,
.site-header-sticky ol,
.site-header-sticky dl
{
	font-size: 1em;
	line-height:1.8em;
}

.site-branding {
    border-style: solid;
    border-width: 3px;
    border-color: #000;
	padding:15px 25px 15px 25px;
	display:inline-block;
	
	position: relative;
	z-index: 2;
}

.site-title {
	font-size:30px;
	text-transform:uppercase;
}

.site-title a {
	color:#000;
}

.site-description {
	font-size:14px;
	font-style:italic;
	margin-top:0px;
	line-height:1.8em;
}

.site-logo {
	
}

.site-search .widget {
	margin:0;
}

#site-shopping-bag-button {
	text-align:right;
}
	
#site-shopping-bag-button a {
	display:inline-block;
	padding: 10px 0 10px 15px;
	line-height:1.8em;
}

.shopping_bag_items_number,
.wishlist_items_number
{
	position:absolute;
	right:-8px;
	bottom:0px;
	background:#fff;
	padding:3px;
	min-width:21px;
	text-align:center;
	display:block;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	color:#314381;
	-webkit-transition: all 1s ease;                  
    -moz-transition: all 1s ease;                 
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;          
    transition: all 1s ease;
	font-size:11px !important;
	line-height:10px;
	border: 2px solid;
	border-color: #314381;
}


/**********************************************************************************/
/* Aside **************************************************************************/
/**********************************************************************************/

.widget-area {
	font-size:14px;
	display: none;
}

.widget {
	margin-bottom:45px;
}

.widget a.button {
	font-weight: 700 !important;
}

.widget form {
	margin:0;
}

.widget ul,
.widget ol,
.site-content .widget ul,
.site-content .widget ol,
.site-content .widget p
{
	margin:0 0 0 0;
	font-size:14px;
	list-style:none;
}

.widget.widget_text .textwidget ul,
.site-content .widget.widget_text .textwidget ul
{
	list-style-type: disc;
	list-style: inherit;
	margin: 1.2em 0 2em 2.142em;
	font-size:14px;
}

.widget.widget_text .textwidget ol,
.site-content .widget.widget_text .textwidget ol
{
	list-style-type: decimal;
	margin: 1.2em 0 2em 2.142em;
	font-size:14px;
}


@media only screen and (min-width: 40.063em) 
{
	.site-content .widget.widget_text .textwidget ul,
	.site-content .widget.widget_text .textwidget ol
	{
		margin: 2em 0 2em 1.875em;
	}
}



.widget ul .children,
.widget ul .sub-menu,
.widget ol .children,
.widget ol .sub-menu
{
	margin:10px 0 10px 20px;
}

.widget li {
	margin:0 0 15px 0;
}

.widget .menu li {
	margin:0 0 5px 0;
}

.widget h3,
.woocommerce .widget h3, 
.woocommerce.widget h3,
.woocommerce-checkout .widget h3{
	text-transform:uppercase;
	font-size:13px;
	margin:0 0 25px 0;
	padding:0;
	text-align: left;
}

.widget .post-date {
	color:#808081;
	display:block;
	font-style:italic;
}

.widget .recentcomments {
	position:relative;
	/*padding:0 0 0 20px;*/
	text-indent:20px;
}

.widget .recentcomments:before {
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
	content:"\f0e5";
	position:absolute;
	top:0;
	left:-20px;
	width:20px;
	height:20px;
}

.widget .recentcomments a {
	font-style:normal;
}

.widget .cat-item {
	color:#a1a1a1;
	margin:0 0 5px 0;
	text-transform:capitalize;
}

.widget .tagcloud a {
	font-size:11px !important;
	text-transform:uppercase;
	padding: 8px 10px 6px 10px;
	border-width: 1px;
	border-style: solid;
	display: inline-block;
	margin:0 4px 8px 0;	
	font-weight: bold;
}

.widget .tagcloud a:hover {
	background: #314381;
	color:#fff !important;
	border-width:1px;
	border-style:solid;
	border-color:#314381;
}

.widget-area .widget .textwidget
{
	font-size: 1em;
}

.widget .textwidget {
	line-height:1.6em;
	font-size: 0.875em;
}

.widget .quantity
{
	font-size:.9em;
}

#site-footer .widget .quantity,
.slide-from-right .widget .quantity
{
	color:#fff;
}

.widget .amount {
	font-size:1em;
	/*color:#555;*/
}

.widget del .amount {
	font-size:1em;
}

.widget_archive li {
	margin:0 0 5px 0;
}

.widget_meta li {
	margin:0 0 5px 0;
}

.widget_rss .widget-title a {
	color:#000;
	font-weight:bold !important;
}

.widget_rss .widget-title a:first-child {
	display:none;
}

.widget_rss .rss-date,
.widget_rss cite
{
	display:block;
	padding:10px 0;
	color:#555;
	font-style:italic;
}

.widget_rss .rssSummary {
	display:block;
}

.widget_calendar table {
	border:0;
}

.widget_calendar table thead, 
.widget_calendar table tfoot
{
	background:none;
}

.widget_calendar caption {
    font-size: 1.6em;
    text-align: left;
}

.widget_calendar table thead tr th,
.widget_calendar table thead tr td,
.widget_calendar table tfoot tr th,
.widget_calendar table tfoot tr td {
	color: #a1a1a1;
}

.widget_calendar table tr th,
.widget_calendar table tr td
{
	text-align:left;
	/*padding: 0.5rem 0.4rem 0.5rem 0.650rem;*/
}

.widget_calendar table thead tr th, 
.widget_calendar table tfoot tr td
{
	padding: 20px 0;
}

.widget_calendar table tr.even,
.widget_calendar table tr.alt,
.widget_calendar table tr:nth-of-type(even)
{
	background:none;
}

.widget_calendar table tr {
    border-bottom: 0px;
}

.widget_calendar #prev {
	text-align:left;
}

.widget_calendar #next {
	text-align:right;
}

.widget_product_search,
.widget_search
{
	/*margin:0;*/
	/*position:relative;*/
}

.site-header .widget_product_search label,
.site-header .widget_search label,
.site-header .widget_product_search h3,
.site-header .widget_search h3
{
	display:none;
}

.widget_product_search label,
.widget_search label
{
	display:none;
}

.widget_product_search input,
.widget_search input
{
	margin:0;
	padding:0 10px;
}

.site-search input[type="submit"]
{
	display: block !important;
	position:absolute;
	top:6px;
	right:0px;
	padding:0;
	font-size:13px;
	text-transform:uppercase;
	width:24px;
    max-width: 24px;
    min-width: 24px;
	height:36px;
	text-indent:-9999px;
	background:none !important;
	border: none;
	z-index:1;
	outline:none;
	content:"dd";
}

.site-search input[type="submit"]:hover
{
	background: none !important;
}

.widget_search .search-submit,
.widget_product_search input[type="submit"],
aside .search-but-added,
aside #searchsubmit
{
	display: none;
}


.widget_product_search .search-but-added,
.widget_search .search-but-added
{
	position:absolute;
	top:4px;
	right:0px;
	padding:6px 0 0 0;
	font-size:13px;
	text-transform:uppercase;
	width:25px;
	height:36px;
	z-index:2;	
	text-align: right;
	overflow: hidden;
	font-size: 24px;
	color: #314381;
	cursor:pointer;
}





/**********************************************************************************/
/* Offcanvas **********************************************************************/
/**********************************************************************************/

.right-off-canvas-menu-content {
	padding:20px 30px;
	color:#fff;
}

.right-off-canvas-menu-content a {
	color:#ccc;
}

.right-off-canvas-menu-content a:hover {
	color:#999;
}

.right-off-canvas-menu-content .widgettitle {
	color:#fff;
	margin-bottom:20px;
}

.right-off-canvas-menu-content .buttons a {
	width:100%;
}

/**********************************************************************************/
/* Content ************************************************************************/
/**********************************************************************************/

.without-sidebar {
	/*text-align:center;*/
}

.page-header {
	margin-bottom:70px;
}

.entry-title {
	margin-bottom:.4em;
	text-align: center;
}

.entry-title a
{
	color: inherit;
}

.content-area {
	padding-top:50px;
}

.page_with_slider .content-area {
    padding: 0;
    }

.site-content ul,
.site-content ol {
	margin:1.2em 0 2em 2.142em;
}

.wp-caption {
	max-width:100%;
}

.entry-thumbnail {
	margin-bottom:15px;
	text-align:center;
}

.entry-meta {
	margin:30px 0 0 0;
	line-height:1.8em;
	font-size:.85em;
	/*font-style:italic;*/
	text-align:center;
}

.edit-link {
	margin:0;
}

.without-sidebar .entry-meta {
	/*text-align:center;*/
}

.entry-meta ul {
	list-style:none;
	padding:0;
	margin:0;
}

.entry-meta ul li {
	display:inline-block;
	margin-right:20px;
}

.author-info {
	padding:0 0 0 100px;
	position:relative;
	margin:50px 0 0 0;
	text-align:left;
}

.author-avatar {
	position:absolute;
	left:0;
	top:.3em;
	width:70px;
	height:70px;
	overflow:hidden;
}

.author-avatar img {
	width:70px;
	height:70px;
}

.author-link {
	display:inline-block;
}

.wp-caption-text {
	margin-top:10px;
	font-size:13px;
}

.attachement {
	text-align:center;
}

.attachement .entry-content {
	margin-top:40px;
}

.page-contact .entry-content {
	margin-top:0px;
}

.entry-meta-attachment,
.previous-image,
.next-image
{
	padding:10px 0;
	line-height:1.8em;
}

.previous-image
{
	text-align:left;
	float:left;
}

.next-image
{
	text-align:right;
	float:right;
}

#nav-below {
	margin:30px 0;
}

.nav-previous {
	line-height:1.8em;
}

.nav-next {
	line-height:1.8em;
	margin-bottom: 5px;
}

.nav-previous a,
.nav-next a
{
	font-weight: bold;
}

.post-navigation .nav-previous {
	margin-bottom: 18px;
}

.post-navigation .nav-next {
	margin-bottom: 5px;
}

.nav-previous-title,
.nav-next-title
{
	font-size:.75em;
}

.page-template-page-narrow-php h4 {
}



/**********************************************************************************/
/* Post Formats *******************************************************************/
/**********************************************************************************/


/* Aside */

.format-aside .entry-content,
.format-aside .entry-content p {
	font-size:18px;
	line-height:1.555em;
}


/* Audio */


/* Chat */

.format-chat .entry-meta .author {
	display: none;
}

/* Gallery */

.format-gallery .entry-content .gallery:first-of-type {
	display:none;
}

.format-gallery-swiper {
	/*margin:0 0 40px 0 !important;*/
}


/* Image */

.format-image .categories-links,
.format-image .tags-links {
	display: none;
}

/* Link */

.format-link .entry-title  {

}

.format-link .entry-content,
.format-link .entry-content p {

}

.format-link .entry-meta {

}

/* Quote */

.format-quote .entry-meta {
	text-align:center;
}

.format-quote .entry-content,
.format-quote .entry-content p {
	line-height:1.555em;
	text-align:center;
	font-size: 18px;
}

.format-quote .entry-thumbnail {
	width:100px;
	height:100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	overflow:hidden;
	margin:0 auto 30px auto;
}

.format-quote img {
	margin-bottom:20px;
}

.format-quote .entry-meta .author {
	display: none;
}

/* Status */

.format-status .categories-links,
.format-status .tags-links {
	display: none;
}

.format-status .entry-content,
.format-status .entry-content p {
	font-size:18px;
	line-height:1.555em;
}

/* Video */


/* 404 */

.error-404
{
    text-align: center;
}

.error-404 .page-header
{
    margin-bottom: 14px;
}

.error-404 .screen-reader-text
{
    display: none;
}

.error-404 .search-form
{
	display: block;
	padding:6px 0 135px;
}

.search-form:after
{
	content: "";
	display: block;
	clear: both;
}

.error-404 input[type="text"],
.error-404 input[type="search"]
{
    height: 3.18rem;
}


/**********************************************************************************/
/* Catalog ************************************************************************/
/**********************************************************************************/

/* forms */


/**********************************************************************************/
/* Products ***********************************************************************/
/**********************************************************************************/

.products-grid {
	-webkit-backface-visibility: hidden;
}

.products li {
	position:relative;
	-webkit-backface-visibility: hidden;
}

.site-content .products li {
	margin-bottom:10px;
}

.site-content .products li:not(.category_list) {
	padding-bottom: 0px;
}

.products li img {
	width:100%;
	height:auto;
}

#products-grid {
	margin-top:30px;
}

#products-grid li img {
	opacity:.05;
	-webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    transition: opacity .3s ease;
}


/**********************************************************************************/
/* Single Product *****************************************************************/
/**********************************************************************************/

.product_summary_thumbnails_wrapper {
	display:none;
}

.recently_viewed_in_single_wrapper {
	display:none;
}

.product_summary_top {
	text-align:center;
	margin:0 0 40px 0;
	font-size:.85em;
}

.product_summary_top h1 {
	/*font-size:3.7em;*/
	margin: 10px 0 8px 0;
}

.woocommerce #content div.product .product_title, 
.woocommerce div.product .product_title, 
.woocommerce-page #content div.product .product_title, 
.woocommerce-page div.product .product_title 
{
    margin-top: 10px;
}

.product_description {
	margin:0 0 27px 0;
}

.variations label
{
	margin-bottom: 5px;
}

.variations_lines {
	padding:0 0 15px 0;
}

.variations_lines:last-child
{
	padding-bottom: 0;
}

.variations_lines select
{
	font-size: 1.2rem;
	height: 3.25rem;
	margin-bottom: 0;
	padding-left: 20px;
	font-weight: bold;
}

.variations_lines select option
{
	font-size: 1rem;
}

.variations_lines select:focus {
    outline: none;
}

.reset_variations {
	margin:17px 0;
	display:inline-block;
	font-size:.8125em;
	visibility:hidden;
}

.single_variation {
	margin:0 0 30px 0;
}

.woocommerce-tabs {
	margin:30px 0 0 0;
}

.woocommerce-tabs h2:first-of-type {
	display:none;
}

.product_meta {
	margin:15px 0 65px;
	display: none;
}

.single-product.without-sidebar .product_meta
{
	text-align: center;
}

.woocommerce .single_product_summary_related h2,
.woocommerce .single_product_summary_upsell h2
.single_product_summary_related h2,
.single_product_summary_upsell h2
{
	font-size:1.125em;
	margin:35px 0 25px 0;
	text-align: center;
}

.woocommerce div.product p.cart
{
	margin-bottom: 26px;
}

.product_navigation {
	/*margin:0 0 30px 0;*/
}

.product_navigation.hidden {
	visibility:hidden;
}

.related.products li.animate,
.upsells.products li.animate {
	margin:0 15px;
}

.related.products  .owl-item,
.upsells.products  .owl-item
{
	padding-top: 10px;
}

.related.products > h2,
.upsells.products > h2
{
	padding: 0 15px;
}

.owl-carousel.related.products .owl-item,
.owl-carousel.upsells.products .owl-item {
	padding-top:10px;
}

.product_images {
	/*background: url(../images/AjaxLoader.gif) no-repeat center center;
	min-height:150px;*/
}

.product_images .owl-carousel{
	/*display:block;*/
}


/**********************************************************************************/
/* Fresco *************************************************************************/
/**********************************************************************************/

.fr-close
{
	display: none;
	cursor: pointer;
    height: 31px;
    pointer-events: auto;
    position: absolute;
    right: 24px;
    top: 27px;
    width: 31px;
}

.fr-window-fresco .fr-close .fr-close-icon
{
	background: none;
}

.fr-ui-outside .fr-close-background
{
	background: none;
}

.fr-close-background,
.fr-close-icon
{
	width: 31px;
	height: 31px;
	top:0px;
	left:0px;
}

.fr-ui-outside .fr-close:hover .fr-close-background,
.fr-close:hover .fr-close-background
{
	background: none;
}

.fr-window-fresco:not(.fr-ltIE9) .fr-close .fr-close-icon
{
	opacity: 0.5;
}

.fr-window-fresco .fr-close:hover .fr-close-icon
{
	opacity: 1;
}

.fr-close-icon:before
{
	content: "\e609";
	font-size: 32px;
	color: #fff;
	font-family: 'getbowtied-icons';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fr-side-previous .fr-side-button
{
	left: 3px;
}

.fr-side-next .fr-side-button
{
	right: 3px;
}

.fr-touch-close {
	position: absolute;
	top: -1px;
	right: 14px;
	padding-right: 11px;
}

/**********************************************************************************/
/* WP Gallery *********************************************************************/
/**********************************************************************************/

.gallery {
	/*margin:20px 0 !important;*/
}

.gallery dl dt {
	padding:0;
	margin:0;
}

.gallery-item {
    padding:0 !important;
    margin:0 !important;
    /*-webkit-transform: translateZ(0);*/
}

.gallery-item img {
	width:100%;
	height:auto;
	border:0 !important;
}

/**********************************************************************************/
/* Comments ***********************************************************************/
/**********************************************************************************/

.comments-area {
	margin:30px 0 10px;
}

.comments-title {
	font-size:30px;
	text-align: center;
}

.comments-area article {
	padding:30px 0;
	margin:0;
}

.comment-list {
	list-style:none;
	padding:0;
	margin:0 !important;
}

.comment-list ul.children {
	list-style:none;
	margin: 0 0 1em 0;
}

.comment-list li:last-child article
{
	padding-bottom: 40px;
}

.comment-content {
	padding:0 0 0 90px;
	position:relative;
}

.comment-author-avatar {
	position:absolute;
	left:0;
	top:-5px;
	width:70px;
	height:70px;
	overflow:hidden;
	-webkit-border-radius: 70px;
	-moz-border-radius: 70px;
	border-radius: 70px;
}

.comment-author-avatar img {
	width:70px;
	height:70px;
}

.comment-author {
	padding:0;
	margin:0;
	display:inline-block;
}

.comment-author a {
    font-size:18px; 
}

.comment-metadata time {
	font-size:13px;
	text-transform: uppercase;
}

.comment-text {
	font-size:14px;
	margin:15px 0 0 0
}

.comment-reply,
.comment-edit-link
{
	padding-right:20px;
}

.comment-reply i,
.comment-edit-link i
{
	font-size:13px;
	margin-right:5px;
}

.comment-reply {
	font-size:14px;
}

.comment-edit-link {
	font-size:14px;
}

.comment-awaiting-moderation {
	font-style:italic;
	color:#999;
	font-size:14px;
}

.comment-respond {
	margin:0px 0 30px 0;
}

#reply-title {
	font-size:30px;
	padding:0 0 5px 0;
	margin:0;
	text-align: center;
}

.logged-in-as,
.comment-notes {
	text-align: center;
	margin-bottom: 30px;
}

.comment-notes {
	font-size:14px;
	font-style:italic;
}

textarea#comment {
	height:200px;
	line-height:1.8em;
}

.form-submit {
	text-align:right;
}




/**********************************************************************************/
/* Footer *************************************************************************/
/**********************************************************************************/

#site-footer {
	padding:40px 0 38px 0;
}

/*.site-footer-widget-area .columns:nth-child(2n+1) {
	clear:left;
}*/

.site-footer-widget-area .columns:last-child {
	float:left;
}

#site-footer .widget-title {
	text-transform: uppercase;
	font-weight: bold;
}

.payment_methods
{
	text-align: center;
}

.payment_methods img {
	max-height:30px;
	width:auto;
	margin-bottom: 17px;
}

.copyright_text {
	font-size:12px;
	line-height: 18px;
	padding:0;
	text-align:center;
}


/**********************************************************************************/
/* Shortcodes *********************************************************************/
/**********************************************************************************/

.shortcode_separator {
	height:0px;
	background:#ccc;
	border-top:1px solid #dddddd;
	margin-top: 40px;
	margin-bottom: 40px;
}


/**********************************************************************************/
/* WP Mandatory *******************************************************************/
/**********************************************************************************/

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}
.gallery-caption {}
.bypostauthor {}


/**********************************************************************************/
/* Admin Top Bar Tweaks ***********************************************************/
/**********************************************************************************/

#wp-admin-bar-theme_options .dashicons-admin-generic:before {
	content: "\f108";
	top:2px;
}

