@charset "utf-8";
/* CSS Document */


/* min-width 481px, landscape phone to portrait tablet, portrait tablet */
@media only screen and (min-width: 30.063em) {
	
	/**********************************************************************************/
	/* Portfolio **********************************************************************/
	/**********************************************************************************/
	
	.portfolio-grid-sizer
	{
		width: 50%;
	}
	
	.portfolio-box
	{
		width: 50%;
		padding-bottom: 50%;
	}

	.site-tools.site_tools_sticky { 
        position: fixed; 
        z-index: 999999; 
        top: 0; 
        width: 100%; 
        margin-top: 0;  
        padding: 10px 22px 7px 7px; 
        text-align: right; 
        /*background-color: #whatever colour you are using; */
    }
	
}


/* max-width 640px, small screens */
@media only screen and (max-width: 40.063em) {
	
	/**********************************************************************************/
	/* Visual Composer Shortcodes  ****************************************************/
	/**********************************************************************************/
	
	.full-width-page .columns
	{
		padding-left: 30px !important;
		padding-right: 30px !important;
	}

		.site-branding
	{
		width: 100%;
		text-align: center;
	}

	.site-branding .site-logo
	{
		height: auto;
		max-width: 100%;
	}

	.woocommerce .products .star-rating, .woocommerce-page .products .star-rating
	{
		margin: 5px 0 3px;
	}
}


/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {
	
	/**********************************************************************************/
	/* Global *************************************************************************/
	/**********************************************************************************/
	
	h1{
		font-size: 3.125rem;
		line-height: 1.4;
	}
	
	.woocommerce h2,
	h2 {
		font-size: 2.3125rem;
		line-height: 1.351351em;
	}
	
	.woocommerce .st-menu h2,
	.st-menu h2
	{
		font-size: 1.5em;
	}
	
	h3 {
		font-size: 1.6875rem;
		line-height: 1.259259em;
		margin-bottom: 0.5rem;
	}
	
	.woocommerce h3
	{
		font-size: 1.875em;
	}
	
	h4 {
		font-size: 1.4375rem;
		line-height: 1.391304em;
	}
	
	h5 {
		font-size: 1.125rem;
		line-height: 1.55555em;
	}
	
	h6 {
		font-size: 1rem;
		line-height: 1.625em;
	}
	
	
	p {
		font-size: 1em;
		line-height: 1.75em;
		margin-bottom: 1.25rem;
	}
	
	ul, ol, dl {
		font-size: 1rem;
		line-height: 1.8;
	}
	
	/**********************************************************************************/
	/* Header *************************************************************************/
	/**********************************************************************************/
	
	.site-branding {
		margin-right:35px;
		float:left;
		min-height: 54px;
	}
	
	.header-centered .site-branding {
		float:none;
		margin-right:0;
	}
	
	.site-tools {
		text-align:right;
		margin:0;
		padding: 0;
		position:absolute;
		top:50%;
		margin-top: -18px;
		left:auto;
		right:0px;
		background: none;
	}
	
	.site-tools ul li {
		/*margin:0 0 0 15px;*/
		padding:4px 0;
	}
	
	.header-centered .site-tools {
		display:inline-block;
		text-align:left;
		margin:0;
		position:relative;
	}
	
	.header-centered .site-tools ul li a {
		margin:0 0 0 5px;
	}
	
	.header-centered #site-menu {
		display:inline-block;
	}
	
	.site-search {
		top:50%;
		bottom:0;
		margin-top:-23px;
	}
	
	.header-centered .site-search {
		margin-top:-10px;
	}
	
	.site-header-sticky .site-search {
		margin-top:-23px;
	}
	
	.search-but-added i {
		/*display:none;*/
	}
	
	.shopping_bag_items_number,
	.wishlist_items_number
	{
		right:-8px;
		bottom:4px;
	}
	
	
	.site-header.site-search-open .site-branding,
	.site-header-sticky.site-search-open .site-branding
	{
		opacity: 0;
		visibility: hidden;
		transform: translate(0px, -30px);
		
		transition: opacity .3s, transform .3s, visibility 0s ease .3s;
		-webkit-transition: opacity .3s, transform .3s, visibility 0s ease .3s;
	}
		
	
	/**********************************************************************************/
	/* Slider *************************************************************************/
	/**********************************************************************************/
	
	.main-slider {
		margin:0px;
	}
	
	.main-slider h1:after {
		margin-top:30px;
	}
	
	.main-slider h1 {
		margin:0 0 30px 0;
	}
	
	.main-slider h2 {
		font-size: 60px;
		margin:0 0 30px 0;
	}
	
	.st-menu-open .main-slider-fullscreen .swiper-slide {
		left:17px; /* fix slider with offcanvas open on desktops */
	}
	
	.main-slider .arrow-left,
	.main-slider .arrow-right
	{
		display: block;
	}
	
	/**********************************************************************************/
	/* Content ************************************************************************/
	/**********************************************************************************/
	
	.entry-meta {
		margin:100px 0 0 0;
	}
	
	.edit-link {
		margin:30px 0 0 0;
	}	
	
	.nav-previous {
		margin-bottom: 0px;
	}

	.nav-next {
		margin-bottom: 0px;
	}
	
    /**********************************************************************************/
    /* Blog ***************************************************************************/
    /**********************************************************************************/  
  
  	.content-area {
		/*padding-top:70px;*/
	}
	
	.site-content ul,
	.site-content ol {
		margin:2em 0 2em 1.875em;
	}
  
	table tr th,
	table tr td
	{
		font-size: 1em;
	}

	.post table td:last-child
	{
		display: table-cell;	
	}
  
	.post_header_date {
		margin:0 0 40px 0;
	}
	
	.post_footer_date {
		margin:30px 0 50px 0;
	}
  
	.entry-thumbnail {
		margin-bottom:40px;
	}
  
	.content_hr {
		margin:50px -15px 100px;
	}

	
	.wp-caption.alignnone
	{
		margin: 0;
	}
	
	.wp-caption.aligncenter
	{
		margin: 0 auto;
	}
	
	blockquote {
		margin:0 0 40px 0;
	}
	
	blockquote p {
		font-size:30px;
		line-height:1.3em;
	}
	
	blockquote cite {
		margin:20px 0 0 0;
	}
	
	.format-quote .entry-content,
	.format-quote .entry-content p {
		font-size: 30px;
		line-height: 1.5em;
	}
	
	.format-status .entry-content,
	.format-status .entry-content p {
		font-size:30px;
		line-height:1.5em;
	}
	
	.format-aside .entry-content,
	.format-aside .entry-content p {
		font-size:24px;
		line-height:1.5em;
	}
	
	.archive-navigation
	{
		padding: 13px 0;
	}
  
	.error-banner
	{
		padding:70px 0 48px;
	}
	
	.error-404 .search-form,
	.no-results .search-form
	{
		display: inline-block;
	}
	
    .error-404 input[type="text"],
    .error-404 input[type="search"],
	.error-404 input[type="submit"],
	.no-results input[type="text"],
	.no-results input[type="search"],
	.no-results input[type="submit"]
    {
        float: left;
		height: 50px;
    }
				
	.error-404 input[type="text"],
    .error-404 input[type="search"],
	.no-results input[type="text"],
	.no-results input[type="search"]
	{
		width:390px;
		margin-right: 10px;			
	}
	
	
	/* Single Post - Socials*/
	.box-share-container.post-share-container
	{
		margin: 58px 0 -48px;
	}
	
	
	/*blog navigation*/
	.archive-navigation a
	{
		font-size: 1em;
	}
	
	
	/*posts navigation*/
	.post-navigation
	{
		font-size: 1rem;
	}
	
	/*search not found*/
	.no-results
	{
		margin-bottom: 145px;	
	}
	
	.no-results .without-sidebar
	{
		margin-top: 50px;
	}
	
	
	/**********************************************************************************/
	/* Blog Masonry ******************************************************************/
	/**********************************************************************************/
	
	.blog-post,
	.grid-sizer
	{
		width: 50%;
	}
	
	.blog-isotop-container
	{
		padding: 0 0px 90px;
		margin: 0  0 -71px;
	}
	
	.blog-isotope:before,
	.blog-isotope:after
	{
		content: '';
		display: block;
		
		width: 1px;
		opacity: 0;
		
		position: absolute;
		top: 0;
		bottom: -19px;
		z-index: 1;
		
		transition: opacity 0.3s;
		-webkit-transition: opacity 0.3s;
	}
	
	.blog-isotope:before
	{
		left: 50%;
	}
	
	.blog-isotope:after
	{
		left: 66.6666%;
	}
	
	.blog-isotope.isotope-ready:before
	{
		opacity: 1;
	}
		
	.thumbnail_archive
	{
		margin-top: 0px;
	}
	
	.page-title-desc,
	.page-type
	{
		margin-bottom: 20px;
	}
	
	.more-link
	{
		margin-top: 1rem;
	}
	
	.blog-post .blog-post-inner
	{
		padding-bottom: 61px;
	}

	.blog-isotop-master-wrapper #nav-below.paging-navigation
	{
		margin: 0;
		padding: 40px 0px;
	}
	
	.blog-isotop-master-wrapper .archive-navigation
	{
		margin: 0;
		padding: 0px 20px;
	}
	
	
	/**********************************************************************************/
	/* Archive ************************************************************************/
	/**********************************************************************************/
	
	.page-header.archive
	{
		margin: 0px 0 71px;
	}
	
    
	/**********************************************************************************/
	/* Aside **************************************************************************/
	/**********************************************************************************/

	.widget {
		margin-bottom:60px;
	}
	
	.widget.widget_price_filter .price_slider_amount .button {
		width: auto;
	}
	
    /**********************************************************************************/
    /* Page ***************************************************************************/
    /**********************************************************************************/
    
    .entry-header.with_featured_img,
    .category_header.with_featured_img
    {
        margin-top: -50px;
    }
	
	/**********************************************************************************/
	/* Comments ***********************************************************************/
	/**********************************************************************************/
	
	.comments-area {
		margin:60px 0;
	}
	
	.comments-title {
		font-size:30px;
		text-align: left;
	}
	
	.comment-content {
		padding:0 0 0 100px;
	}
	
	.comment-author a {
		font-size:24px; 
	}
	
	.logged-in-as,
	.comment-notes,
	#reply-title {
		text-align: left;
	}
	
	.comment-respond {
		margin:30px 0 30px 0;
	}
	
	.logged-in-as,
	.comment-notes {
		margin-bottom: 1.25rem;
	}
	
	
	
	.comment-list li:last-child article
	{
		padding-bottom: 30px;
	}
	
	/**********************************************************************************/
    /* Forms **************************************************************************/
    /**********************************************************************************/ 
	
	.button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"]
	{
		
		width: auto;
		min-width: 170px;
	}
	
	.woocommerce form .form-row-first,
	.woocommerce-page form .form-row-first,
	.woocommerce form .form-row-last,
	.woocommerce-page form .form-row-last
	{
		width: 48%;
	}
		
	
	/**********************************************************************************/
    /* Catalog ************************************************************************/
    /**********************************************************************************/ 	
	
	.woocommerce .page-description p,
	.woocommerce-page .page-description p
	{
		margin-bottom: 1.25rem;
	}
	
	.filters_button {
		display:inline-block;
		float: left;
		border: none;
		padding: 12px 1em 12px 1.7em;
	}
	
	.filters_button:before {
		left:0px;
		top: 10px;
	}
	
	.woocommerce .woocommerce-result-count,
	.woocommerce-page .woocommerce-result-count
	{
		display: inline-block;
	}
	
	.woocommerce .woocommerce-ordering,
	.filter_products_container
	{
		margin: 10px 0;
	}
	
	.woocommerce-ordering
	{
		width: auto;
	}
	
	.woocommerce-ordering:before
	{
		display: none;
	}
	
	.woocommerce-ordering select.big-select
	{
		border: none;
		padding: 9px 0px 11px;
		height: 37px;
		width: auto !important;
	}
	
	.catalog_top_sep
	{
		display: block;
	}
	
	.categories_grid .category_name,
	.category_list .category_name
	{
        font-size: 1.2em;
    }
    
    .track-order-description
	{
		margin-bottom: 60px;
	}
	
	.track-order-img-container
	{
		margin: 0;
	}
  
	.woocommerce .products span.onsale,
	.woocommerce-page .products span.onsale
	{
		min-height: 70px;
		min-width: 70px;
		padding: 25px 15px;
		font-size: 0.8125em;
		top: -10px;
		right: 10px;
	}

	.woocommerce .products span.onsale:before,
	.woocommerce-page .products span.onsale:before
	{
		display: none;	
	}
	
	.woocommerce-after-shop-loop-wrapper
	{
		margin-bottom: 88px;
	}
	
	.woocommerce #content nav.woocommerce-pagination ul,
	.woocommerce nav.woocommerce-pagination ul,
	.woocommerce-page #content nav.woocommerce-pagination ul,
	.woocommerce-page nav.woocommerce-pagination ul
	{
		border-style: solid none solid solid;
		border-width: 1px;
		white-space: nowrap;
	}
	
	.woocommerce #content nav.woocommerce-pagination ul li,
	.woocommerce nav.woocommerce-pagination ul li,
	.woocommerce-page #content nav.woocommerce-pagination ul li,
	.woocommerce-page nav.woocommerce-pagination ul li
	{
		border-right-width: 1px;
		border-right-style: solid;
		float: left;
		display: inline;
	}
	
	.products a.button.added:before
	{
		top: .55em;
	}
	
	/**********************************************************************************/
	/* Products ***********************************************************************/
	/**********************************************************************************/
	
	.site-content .products li {
		margin-bottom:0;
	}
	
	.site-content .products li:not(.category_list)
	{
		padding-bottom: 30px;
	}
	
	.product_after_shop_loop .price {
		line-height:30px !important;
	}
	
	
	/**********************************************************************************/
    /* My account *********************************************************************/
    /**********************************************************************************/ 
  
	.woocommerce-account .entry-title:after
	{
		margin: 39px auto 41px;
	}
  
  	.woocommerce-account .content-area h2,
	.woocommerce-account .content-area h3
	{
		text-align: left;
	}

	.woocommerce-view-order .content-area h2,
	.woocommerce-view-order .content-area h3
	{
		float: none !important;
		margin-top: 50px;
	}
  
	.my_account_container h2
	{
		text-align: left;
		margin-top: 88px;
		margin-bottom: 8px;
	}
  
	.login-register-container
	{
		margin-top: 130px;
	}
  
	.account-forms-container
	{
		padding-left: 30px;
	}
  
	.account-img-container
	{
		display: block;
		text-align: right;
	}
  
	.site-content .account-tab-list,
	.account-tab-list
	{
		padding: 0 0 42px;
		padding-bottom: 16px;
	}
	
	.account-forms-container
	{
		max-width: 380px;
	}
	
	.woocommerce ul.digital-downloads li .count,
	.woocommerce-page ul.digital-downloads li .count
	.woocommerce ul.digital-downloads li a,
	.woocommerce-page ul.digital-downloads li a 
	{
		display: inline-block;
	}
	
	.woocommerce ul.digital-downloads li a,
	.woocommerce-page ul.digital-downloads li a
	{
		width: 65%;
	}
	
	.woocommerce ul.digital-downloads li .count,
	.woocommerce-page ul.digital-downloads li .count
	{
		float: right;
	}
	
	.woocommerce ul.digital-downloads li:after,
	.woocommerce-page ul.digital-downloads li:after
	{
		margin: 23px 0;
	}
	
	.woocommerce .my_account_container table.shop_table td.order-number,
	.woocommerce-page .my_account_container table.shop_table td.order-number
	{
		font-size: 1.5em;
	}	
	
	
	/* View Order*/
	.order-info
	{
		margin-bottom: 53px;
		margin-top: 2px;
		line-height: 2.8em;
	}
	
	.order-info mark
	{
		background: #ecdaa9;
		padding: 5px 17px;
		margin: 0 5px;
		white-space: nowrap;
	}
	
	.shop_table.order_details .product-name,
	.shop_table.woocommerce-checkout-review-order-table .product-name
	{
		font-size: 1em;
	}
	
	.shop_table.order_details td > .amount,
	.shop_table.order_details td > strong > .amount,
	.shop_table.woocommerce-checkout-review-order-table td > .amount,
	.shop_table.woocommerce-checkout-review-order-table td > strong >.amount
	{
		font-size: 1.5rem;
	}
	
	.customer_details dd:nth-last-child(3)
	{
		padding-bottom: 18px;
	}
	
	/**********************************************************************************/
	/* Product Single *****************************************************************/
	/**********************************************************************************/
	
	.woocommerce .woocommerce-breadcrumb,
	.woocommerce-page .woocommerce-breadcrumb
	{
		display: block;
	}
	
	.product_infos
	{
		margin-top: 0px;
	}
	
	.woocommerce div.product span.price,
	.woocommerce-page div.product span.price,
	.woocommerce #content div.product span.price,
	.woocommerce-page #content div.product span.price,
	.woocommerce div.product p.price,
	.woocommerce-page div.product p.price,
	.woocommerce #content div.product p.price,
	.woocommerce-page #content div.product p.price
	{
		font-size: 2.25em;
		text-align: left;
	}
	
	.variations_lines {
		padding:0 0 33px 0;
	}
	
	.product_description {
		margin:0 0 40px 0;
	}
	
	.woocommerce div.product .woocommerce-tabs ul.tabs li,
	.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
	.woocommerce-page div.product .woocommerce-tabs ul.tabs li,
	.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li
	{
		display: inline-block;
		margin: 0 0px 10px 40px;
	}
	
	.woocommerce div.product .woocommerce-tabs ul.tabs li a,
	.woocommerce #content div.product .woocommerce-tabs ul.tabs li a,
	.woocommerce-page div.product .woocommerce-tabs ul.tabs li a,
	.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a
	{
		font-size: 1.5em;
		padding: .25em 0;
	}
	
	.woocommerce #reviews #comments ol.commentlist li img.avatar,
	.woocommerce-page #reviews #comments ol.commentlist li img.avatar
	{
		top: -5px;
		width: 70px;
		height: 70px;
		overflow: hidden;
		-webkit-border-radius: 70px;
		-moz-border-radius: 70px;
		border-radius: 70px;
	}
	
	.woocommerce #reviews #comments ol.commentlist li .comment-text,
	.woocommerce-page #reviews #comments ol.commentlist li .comment-text
	{
		margin: 0 0 0 100px;
	}
	
	.product_meta {
		display: block;
	}

	.woocommerce #reviews #comments ol.commentlist li,
	.woocommerce-page #reviews #comments ol.commentlist li	
	{
		padding: 0;
		margin: 50px 0;
	}
	
	.woocommerce #reviews #comments ol.commentlist,
	.woocommerce-page #reviews #comments ol.commentlist {
		margin: 0 0 50px 0;
	}
	
	.woocommerce #review_form #respond p.form-row-first,
	.woocommerce-page #review_form #respond p.form-row-last
	{
		width: 48%;
	}
	
	.products .out_of_stock_badge_loop,
	.products .out_of_stock_badge_single
	{
		height: 70px;
		width: 70px;
		padding: 20px 10px;
		font-size: 12px;
		right: 75px;
		top: -10px;
	}
	
	.products .out_of_stock_badge_loop.first_position,
	.products .out_of_stock_badge_single.first_position {
		right: 10px;
	}
	
	.products .out_of_stock_badge_loop:before,
	.products .out_of_stock_badge_single:before
	{
		display: none;
	}
	
	.woocommerce .single_product_summary_related h2,
	.woocommerce .single_product_summary_upsell h2,
	.single_product_summary_related h2,
	.single_product_summary_upsell h2
	{
		font-size:1.5em;
		margin:62px 0 30px 0;
		text-align: left;
	}
	
	.woocommerce .related,
	.woocommerce-page .related,
	.woocommerce .upsells.products,
	.woocommerce-page .upsells.products
	{
		margin:0 0 60px 0;
	}
	
	#related-products-carousel .owl-controls
	{
		margin-top: 0px;
	}
	
	/**********************************************************************************/
	/* Cart ***************************************************************************/
	/**********************************************************************************/
	
	.woocommerce table.shop_table,
	.woocommerce-page table.shop_table
	{
		margin: 30px 0 50px 0;
	}
	
	.cart-buttons {
		padding:40px 1000px 40px;
	}
	
	.woocommerce .cart-collaterals .cart_totals,
	.woocommerce-page .cart-collaterals .cart_totals {
		margin-top: 0;
	}
	
	.cart-buttons .coupon #coupon_code
	{
		width: 160px;
		margin-right: 10px;
	}
	
	.woocommerce-cart table.cart .product-quantity,
	.woocommerce-cart #content table.cart .product-quantity,
	.woocommerce-cart table.cart .product-quantity,
	.woocommerce-cart #content table.cart .product-quantity
	{
		text-align: left;
	}
	
	.woocommerce-cart.woocommerce-page #content .quantity input.qty
	{
		font-size: 1.5em;
		width: 60px !important;
	}
	
	.woocommerce-cart.woocommerce-page table.cart td.product-subtotal,
	.woocommerce-cart.woocommerce-page #content table.cart td.product-subtotal,
	.woocommerce-cart.woocommerce-page table.cart td.product-subtotal,
	.woocommerce-cart.woocommerce-page #content table.cart td.product-subtotal
	{
		font-size: 24px;
	}
	
	.woocommerce table.cart .product-name,
	.woocommerce #content table.cart .product-name,
	.woocommerce-page table.cart .product-name,
	.woocommerce-page #content table.cart .product-name
	{
		width: 40%;
		padding-right: 60px;
	}
	
	.woocommerce-cart table.cart .product-quantity,
	.woocommerce-cart #content table.cart .product-quantity,
	.woocommerce-cart table.cart .product-quantity,
	.woocommerce-cart #content table.cart .product-quantity,
	.woocommerce-cart table.cart td.product-subtotal,
	.woocommerce-cart #content table.cart td.product-subtotal,
	.woocommerce-cart table.cart td.product-subtotal,
	.woocommerce-cart #content table.cart td.product-subtotal
	{
		padding-right: 30px;
	}
	
	.woocommerce #content table.cart .product-thumbnail,
	.woocommerce table.cart .product-thumbnail,
	.woocommerce-page #content table.cart .product-thumbnail,
	.woocommerce-page table.cart .product-thumbnail
	{
		display: table-cell;
	}
	
	.woocommerce .cart-collaterals,
	.woocommerce-page .cart-collaterals {
		padding:0 1000px 50px;
	}
	
	.product_quantity_mobile
	{
		display: none !important;
	}
	
	.cart-wishlist-empty
	{
		font-size: 3.125em;
		margin-bottom: 3px;
		line-height: 1.4em;
	}
	
	/**********************************************************************************/
	/* Categories Grid ****************************************************************/
	/**********************************************************************************/
	
	.categories_grid {
		margin:30px 0 110px 0;
	}
	
	article .categories_grid {
		margin-bottom: 0;
	}
	
	/**********************************************************************************/
	/* Checkout ***********************************************************************/
	/**********************************************************************************/
	
	.woocommerce-checkout .entry-title:after
	{
		margin: 39px auto 41px;
	}
	
	.woocommerce-checkout .content-area h2,
	.woocommerce-checkout .content-area h3
	{
		/*text-align: left;*/
	}
	
	.woocommerce-checkout .content-area .thank_you_bank_details h2
	{
		margin-top: 25px;
		margin-bottom: 20px;
	}
	
	.woocommerce-checkout .content-area .checkout h3 {
		text-align: center;
		margin:70px 0 20px 0;
		font-size: 1.875em;
	}
	
	.woocommerce-checkout .thank_you_bank_details h3
	{
		text-align: left;
		font-size: 1.285em;
		margin-top: 0;
	}
	
	.checkout_coupon_box,
	.checkout_login
	{
		margin-top: -15px;
	}
	
	.checkout_login {
		margin-bottom: 20px;
	}
	 
	#order_comments_field textarea
	{
		min-height: 40px;
		height: 40px
	}
	
	.thank_you_header .order_details li.order,
	.thank_you_header .order_details li.total,
	.thank_you_header .order_details li.date,
	.thank_you_header .order_details li.method
	{
		width: auto;
		margin-right: 70px;
	}
	
	.thank_you_header .order_details li.total
	{
		clear: none;
	}
	
	.thank_you_header .order_details li.date
	{
		 padding-right: 2.25em;
		 margin-right: 2em;
	}
	
	.thank_you_header .order_details li.date,
	.thank_you_header .order_details li.order
	{
		padding-bottom: 0px;
	}
	
	.thank_you_header_img_top
	{
		margin: 14px 0 40px 0;
	}
	
	.thank_you_header_img_bottom
	{
		margin: 11px 0 30px 0;
	}
	
	.order_details.bacs_details li
	{
		clear: none;
	}
	
	.woocommerce-checkout h3 {
		text-align:center;
		margin: 45px 0 20px;
		font-size: 1.5em;
	}
	
	.payment_methods li.payment_method_paypal
	{
		padding-top: 10px;
		padding-bottom: 7px;
	}
	
	.payment_methods .payment_method_paypal .check_label_radio:before {
		top: 19px;
	}
	
	.woocommerce #payment #place_order,
	.woocommerce-page #payment #place_order
	{
		float: right;
		width: auto;
		margin-top: 20px;
	}
	
	.woocommerce #payment .terms,
	.woocommerce-page #payment .terms
	{
		margin-bottom: 0px;
		width: 60%;
		float: left;
	}
	
	/**********************************************************************************/
	/* Minicart ***********************************************************************/
	/**********************************************************************************/
	
	table.cart_list td {
		padding:30px 0;
	}		

	
	table.cart_list .product-thumbnail {
		width:70px;
	}
	
	#wishlist-offcanvas .product-thumbnail,
	#minicart-offcanvas .product-thumbnail {
		width:90px;
		padding-left:30px;
	}
	
	table.cart_list .product-thumbnail img {
		width:70px;
	}
	
	.widget_shopping_cart .total {
		padding: 20px 0px 5px !important;
		margin-bottom: 34px;
	}
	
	#wishlist-offcanvas .widget_shopping_cart .total,
	#minicart-offcanvas .widget_shopping_cart .total {
		padding: 20px 30px 5px !important;
	}
	
	#minicart-offcanvas .widget_shopping_cart .buttons {
		margin:0 30px;
	}
	
	table.cart_list .product-remove {
		padding-right:10px;
		margin-right: -23px;
	}
	
	.widget_shopping_cart .remove {
		margin-right: -23px;
	}
	
	
	.widget_shopping_cart .buttons a {
		margin:0 0 20px 0;
	}
	
	/**********************************************************************************/
	/* Wishlist Plugin ****************************************************************/
	/**********************************************************************************/

	.shop_table.wishlist_table .product-stock-stauts
	{
		display: table-cell;
	}
	
	.woocommerce-page table.cart.wishlist_table .product-name,
	.woocommerce-page #content table.cart.wishlist_table .product-name
	{
		padding-right: 30px;
	}
	
	.woocommerce-page table.cart.wishlist_table .product-stock-status,
	.woocommerce-page #content table.cart.wishlist_table .product-stock-status
	{
		display: table-cell;
	}
	
	.wishlist_table tr td.product-add-to-cart
	{
		width: 160px;
	}
	
	.product-add-to-cart .button
	{
		font-size: 13px !important;
		width: auto;
		height: auto;
		position: relative;
		padding-right:32px !important;
		padding-left:32px !important;
	}
	
	.product-add-to-cart .button:before
	{
		display: none;
	}
	
	/**********************************************************************************/
	/* Offcanvas wishlist *************************************************************/
	/**********************************************************************************/
	
	#wishlist-offcanvas .button,
	#wishlist-offcanvas input[type="button"],
	#wishlist-offcanvas input[type="reset"],
	#wishlist-offcanvas input[type="submit"]
	{
		
		width: auto;
		min-width: 140px;
	}
	
	table.cart_list .wishlist_offcanvas_mobile
	{
		display: none !important;
	}
	
	.product_list_widget .product-description .amount
	{
		display: inline-block;
		margin: 0px 8px 0 0;
	}
	
	#wishlist-offcanvas .button,
	#wishlist-offcanvas input[type="button"],
	#wishlist-offcanvas input[type="reset"],
	#wishlist-offcanvas input[type="submit"]
	{
		color: #314381 !important;
		background: #fff;
		margin: 11px 0 0;
		padding:11px 15px 10px;
		height: auto;
	}
	
	/**********************************************************************************/
	/* Offcanvas **********************************************************************/
	/**********************************************************************************/

    .st-menu {
        width: 320px;
    }

    /* Offcanvas Left - Slide along */
    .slide-from-left.st-menu-open .st-pusher {
        -webkit-transform: translate3d(320px, 0, 0);
        transform: translate3d(320px, 0, 0);
    }

    .slide-from-right.st-menu-open .st-pusher {
        -webkit-transform: translate3d(-320px, 0, 0);
        transform: translate3d(-320px, 0, 0);
    }

    /* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
    .st-pusher-from-right-zombie-browsers {
        margin-right: 320px;
    }

    .st-pusher-from-left-zombie-browsers {
        margin-left: 320px;
    }
	
	/**********************************************************************************/
	/* Notifications ******************************************************************/
	/**********************************************************************************/
	
	.woocommerce-checkout .showcoupon,
	.woocommerce-checkout .showlogin
	{
		display: inline-block;
		margin-top: 0px;
	}
	
	.woocommerce-error,
	.woocommerce-message,
	.woocommerce-info,
	.woocommerce .woocommerce-error,
	.woocommerce-page .woocommerce-error,
	.woocommerce .woocommerce-message,
	.woocommerce-page .woocommerce-message,
	.woocommerce .woocommerce-info,
	.woocommerce-page .woocommerce-info
	{
		font-size: 1em;
		line-height: 1.625em;
		text-shadow: none;
		padding: 23px 30px 23px 55px !important;
	}
	
	.woocommerce-wishlist.woocommerce  .woocommerce-message,
	.woocommerce-wishlist.woocommerce-page .woocommerce-message,
	.single-product.woocommerce  .woocommerce-message,
	.single-product.woocommerce-page .woocommerce-message
	{
		padding: 23px 200px 23px 55px !important;
	}
	
	.woocommerce-error:before,
	.woocommerce-message:before,
	.woocommerce .woocommerce-error:before,
	.woocommerce .woocommerce-message:before,
	.woocommerce-page .woocommerce-error:before,
	.woocommerce-page .woocommerce-message:before
	{
		top: 27px;
	}
	
	.woocommerce-info:before,
	.woocommerce .woocommerce-info:before,
	.woocommerce-page .woocommerce-info:before
	{
		top: 28px;
	}
	
	.woocommerce .woocommerce-error .button,
	.woocommerce .woocommerce-info .button,
	.woocommerce .woocommerce-message .button
	{
		position: absolute;
		top:29px !important;
		right: 30px;
		bottom: auto;
		left: auto;
	}
	
	.woocommerce-checkout.woocommerce .checkout_coupon_box .woocommerce-error,
	.woocommerce-checkout.woocommerce-page .checkout_coupon_box .woocommerce-error,
	.woocommerce-checkout.woocommerce form.checkout .woocommerce-error,
	.woocommerce-checkout.woocommerce-page form.checkout .woocommerce-error
	{
		padding: 28px 30px 28px 35px !important;
		margin-top: 53px !important;
	}
	
	.woocommerce-checkout.woocommerce .checkout_coupon_box .woocommerce-error:before,
	.woocommerce-checkout.woocommerce-page .checkout_coupon_box .woocommerce-error:before,
	.woocommerce-checkout.woocommerce form.checkout .woocommerce-error:before,
	.woocommerce-checkout.woocommerce-page form.checkout .woocommerce-error:before
	{
		top: 33px;
		left: 0;	
	}
	
	.woocommerce .no-products-info .woocommerce-info,
	.woocommerce-page .no-products-info .woocommerce-info
	{
		font-size: 40px;
		line-height: 55px;
		padding: 232px 40px 125px !important;
	}
	
	.woocommerce .no-products-info .woocommerce-info:before,
	.woocommerce-page .no-products-info .woocommerce-info:before
	{
		top: 70px;
	}
	
	/**********************************************************************************/
	/* Icons page  ********************************************************************/
	/**********************************************************************************/
	
	ul.font-group li {
		width: 20%;
	}
	
	ul.font-group li:nth-child(n) {
		clear: none;
	}
	
	ul.font-group li:nth-child(5n+1) {
		clear: both;
	}
	
	/**********************************************************************************/
	/* Footer *************************************************************************/
	/**********************************************************************************/
	
	/*#site-footer {
		padding:40px 0 40px 0;
	}*/
	
	.trigger-footer-widget-area {
		display:none;
	}
	
	.site-footer-widget-area
	{
		display: block;
		padding-top: 30px;
	}

	#site-footer .widget li:last-child
	{
		padding-bottom:  30px;
	}
	
	#site-footer .button.checkout.wc-forward
	{
		margin-bottom: 30px;
	}
	
	.site-footer-widget-area .columns:nth-child(2n+1) {
		clear:left;
	}

	.payment_methods
	{
		text-align: left;
	}
	
	.payment_methods img
	{
		margin-bottom: 0;
	}
	
	.copyright_text {
		font-size:13px;
		line-height: 20px;
		padding:5px 0;
		text-align:right;
	}
	
	
	/**********************************************************************************/
	/* Shortcodes *********************************************************************/
	/**********************************************************************************/
	
	/*Gallery*/
	
	.gallery-item .gallery-caption
	{
		display: block;
		font-size: 1rem;
		text-align: left;
		line-height: 1.5em;
		color: #999;
		background: #000;
		padding: 9px 20px;
		
		opacity: 0;
		z-index: -1;
		
		position: absolute;
		right:  20px;
		bottom: 40px;
		left: 20px;
		
		transition: opacity 0.3s, bottom 0.3s, z-index 0s ease 0.3s;
		-webkit-transition: opacity 0.3s, bottom 0.3s, z-index 0s ease 0.3s;
	}
	
	.gallery-item .gallery-caption:after
	{
		content: "";
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 6px 6px 0 6px;
		border-color: #000 transparent transparent transparent;
		
		position: absolute;
		bottom: -6px;
		right: 10px;
	}
	
	.gallery-item .gallery-caption.show
	{
		opacity: 1;
		z-index: 9;
		
		bottom: 60px;
		
		transition: opacity 0.3s, bottom 0.3s, z-index 0.3s;
		-webkit-transition: opacity 0.3s, bottom 0.3s, z-index 0.3s;
	}
	
	.gallery-caption-trigger
	{
		display: block;
		width: 24px;
		line-height: 24px;
		border-radius: 12px;
		background: rgba(255,255,255,0.3);
		font-size: 14px;
		font-style: italic;
		font-family: 'Georgia',sans-serif;
		
		position: absolute;
		right: 24px;
		bottom: 24px;
		z-index: 10;
		
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
	}
	
	.gallery-caption-trigger:hover
	{
		background: #fff;
	}
	
	
	
	/**********************************************************************************/
	/* Visual Composer Shortcodes  ****************************************************/
	/**********************************************************************************/

	/*general*/
		
	.wpb_wrapper .categories_grid
	{
		margin-bottom: 0;
	}
	
	.full-width-page .wpb_wrapper div[id^="gallery-"],
	.full-width-page .wpb_alert.wpb_content_element,
	.full-width-page .wpb_wrapper .wpb_gmaps_widget,
	.full-width-page .wpb_wrapper #map_container,
	.full-width-page .wpb_wrapper .wpb_revslider_element,
	.full-width-page .wpb_wrapper .portfolio-isotope-container
	{
		margin-left: -60px !important;
		margin-right: -60px !important;
	}
	
	
	/*Tabs & Tour Sections*/
	
	.wpb_tour.wpb_content_element .wpb_tabs_nav  li
	{
		
	}
	
	/* Tabs/Accordions/Toggles/Tour fix - jQuery ui */
	
	.wpb_tour .ui-helper-reset,
	.wpb_tabs .ui-helper-reset,
	.wpb_accordion .ui-helper-reset
	{
		line-height: 1.8;
	}
	
	
	.wpb_tabs.wpb_content_element .wpb_tabs_nav  li
	{
		display: inline-block;
		margin: 0 0px 10px 40px;
	}
	
	.wpb_tour.wpb_content_element .wpb_tabs_nav  li a,	
	.wpb_tabs.wpb_content_element .wpb_tabs_nav  li a
	{
		display: inline-block;
		padding: .25em 0;
		border-bottom-color:  transparent;
		border-bottom-width :2px
	}
	
	.wpb_tabs.wpb_content_element .wpb_tabs_nav  li a
	{
		font-size: 1.5em;
	}
	
	.wpb_tour.wpb_content_element .wpb_tabs_nav  li a
	{
		font-size: 0.8125rem;
		margin-bottom: 10px;
	}
	
	
	.wpb_tour.wpb_content_element .wpb_tabs_nav
	{
		width: 25%;
		padding-right: 15px;
	}
	
	.wpb_tour.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tab 
	{
		width: 75%;
		padding: 0;
		padding-left:15px;
		padding-bottom: 30px;
	}
	
	.wpb_tour.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tab
	{
		
	}
	
	
	.wpb_tour.wpb_content_element .wpb_tour_next_prev_nav
	{
		width: 75%;
		padding-left: 15px;
		margin-left: 25%;
		
	}
	
	.wpb_tour.wpb_content_element .wpb_tour_next_prev_nav span a
	{
		font-size: 1rem;
	}
	
	
	/*Message Boxes*/

	.wpb_alert.wpb_content_element .messagebox_text:before
	{
		top: 5px;
	}
	
	
	/*Buttons*/

	.vc_btn.vc_btn_xs,
	.vc_btn.vc_btn_sm,
	.vc_btn.vc_btn_md,
	.vc_btn.vc_btn_lg
	{
		width: auto;
	}
	
	
	/* Toggles */
	
	.wpb_wrapper .wpb_toggle,
	#content .wpb_wrapper h4.wpb_toggle
	{
		font-size: 1.4375rem;
		line-height: 2rem;
		padding-left: 40px;
		margin-bottom: 30px;
	}
	
	.wpb_wrapper .wpb_toggle:before,
	#content .wpb_wrapper h4.wpb_toggle:before
	{
		left: 0;
		top: 4px;
		width: 24px;
		height: 24px;
		border-radius: 12px;
	}
	
	.wpb_wrapper .wpb_toggle:before,
	#content .wpb_wrapper h4.wpb_toggle:before
	{
		top: 4px;
	}
	
	.wpb_wrapper .wpb_toggle:after,
	#content .wpb_wrapper h4.wpb_toggle:after
	{
		font-size: 18px;
		left:3px;
		top: 7px;
	}
	
	.wpb_wrapper .wpb_toggle_title_active:after,
	#content .wpb_wrapper h4.wpb_toggle_title_active:after
	{
		font-size: 18px;
		left:3px;
		top: 7px;
	}
	
	.wpb_wrapper .wpb_toggle:last-of-type + .wpb_toggle_content,
	#content .wpb_wrapper  h4.wpb_toggle:last-of-type + .wpb_toggle_content
	{
		margin-top: 16px;
	}
	
	.wpb_wrapper .wpb_toggle_content
	{
		margin-top:-16px;
		margin-bottom: 34px;
		padding-left: 40px;
	}
	
	
	/*Accordions*/
	
	.wpb_heading.wpb_accordion_heading
	{
		margin: 0 0 11px;
	}
	
	.wpb_wrapper .wpb_content_element .wpb_accordion_header .accordion_title
	{
		font-size: 1.4375rem;
		line-height: 2rem;
		padding: 20px 40px 20px 20px;
	}
	
	.wpb_wrapper .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content
	{
		padding-bottom: 50px;
	}
	
	
	/* Site Social Icons */
	
	.site-social-icons-shortcode ul li {
		font-size: inherit;
		padding: 5px 0.6em;
	}
	
	/*Progress Bars*/

	.wpb_heading.wpb_progress_bar_heading
	{
		font-size: 1.4375rem;
	}
	
	
	/* from the blog list */
	
	.blog-list-item
	{
		margin: 0 0 10px;
	}
	
	.blog-list-item:first-child
	{
		margin-top: 10px;
	}
	
	.blog-list-day 
	{
		vertical-align: middle;
		
		font-size: 75px;
		line-height: 50px;
		text-align: center;
	
		padding-left: 0;
	
		width: 170px;
		min-width: 170px;
	}
	
	.blog-list-content
	{
		padding-left: 50px;
		padding-right: 50px;
	}
	
	.blog-list-date
	{
		font-size: 14px;
		margin: 0 0 5px;
		
	}
	
	.blog-list-title
	{
		font-size: 30px;
		line-height: 1.2;
		margin: 0 0 -3px;
	}
	
	
	/*lookbook slider*/
	
	/*.lookbook-slider
	{
		width: 70%;
		margin: 0 auto;
	}*/
	
	
	/**********************************************************************************/
	/* Portfolio **********************************************************************/
	/**********************************************************************************/
	
	.hover-effect-content .hover-effect-title,
	.wpb_wrapper h2.hover-effect-title
	{
		font-size: 1.875rem;
	}
			
	.filters-group.list-centered
	{
		margin-bottom: 5px;
	}		
	
	
	/* portfolio single */
	
	.portfolio_content_nav #nav-below
	{
		padding: 40px 50px 38px;
		margin: 0;
		border-top-width: 1px;
		border-top-style: solid;
	}
	
	.portfolio_content_nav #nav-below .nav-previous span:before,
	.portfolio_content_nav #nav-below .nav-next span:after
	{
	
		font-size: 20px;
		color: #888;
		
		display: inline-block;
		font: normal normal normal;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	
	.portfolio_content_nav #nav-below .nav-previous span:before
	{
		content: "\2190";
		margin-right: 3px;
	}
	
	.portfolio_content_nav #nav-below .nav-next span:after
	{
		content: "\2192";
		margin-left: 3px;
	}
	
}


/* max-width 768px, small screens */
@media only screen and (max-width: 768px) {

	.woocommerce-cart .entry-content .woocommerce .cart-collaterals .cart_totals
	{
		padding: 40px;
	}

	.woocommerce .cart-collaterals, 
	.woocommerce-page .cart-collaterals
	{
		padding: 0;
		margin: 0 -30px;
	}
	.woocommerce .cart-collaterals tr, 
	.woocommerce-page .cart-collaterals tr
	{
		border: none;
	}
	
	.woocommerce .shop_table_responsive.customer_details tr td,
	.woocommerce-page .shop_table_responsive.customer_details tr td
	{
		padding-left: 30px !important;
		padding-right: 30px !important;
	}
	
	.woocommerce .shop_table_responsive.customer_details tr td:before,
	.woocommerce-page .shop_table_responsive.customer_details tr td:before
	{
		display: block;
		font-size: 13px;
		text-transform: uppercase;
	}
	
	.woocommerce .shop_table_responsive.customer_details tr:nth-child(2n) td,
	.woocommerce-page .shop_table_responsive.customer_details tr:nth-child(2n) td
	{
		background: none;
	}

	.woocommerce-account .woocommerce-MyAccount-navigation,
	.woocommerce-account .woocommerce-MyAccount-content
	{
		width: 100%;
		margin-bottom: 20px;
	}

	.woocommerce-page #content table.cart .product-thumbnail, 
	.woocommerce-page table.cart .product-thumbnail,
	.woocommerce-page #content table.cart .product-remove, 
	.woocommerce-page table.cart .product-remove
	{
		display: inline-block;
		width: 100%;
		text-align: center !important;
		padding: 0;
	}

	.woocommerce-page #content table.cart .product-thumbnail:before, 
	.woocommerce-page table.cart .product-thumbnail:before
	{
		display: none;
	}

	.woocommerce-page #content table.cart .product-thumbnail img, 
	.woocommerce-page table.cart .product-thumbnail img
	{
		max-width: 100px;
		margin-bottom: 20px;
	}

	.woocommerce-page #content table.cart .product-remove a, 
	.woocommerce-page table.cart .product-remove a
	{
		margin-bottom: -34px;
		float: right;
		z-index: 999;
		position: relative;
	}

	.woocommerce table.cart tr.cart_item, 
	.woocommerce #content table.cart tr.cart_item, 
	.woocommerce-page table.cart tr.cart_item, 
	.woocommerce-page #content table.cart tr.cart_item
	.woocommerce table.cart .cart_item td, 
	.woocommerce #content table.cart .cart_item td, 
	.woocommerce-page table.cart .cart_item td, 
	.woocommerce-page #content table.cart .cart_item td
	{
		display: block;
		float: left;
		width: 100%;
		background: #FFF;
		padding: 0;
		font-size: 12px;
		font-weight: bold;
		line-height: 1;
		margin-bottom: 20px;
		border: none;
		padding-right: 0 !important;
	}

	.woocommerce table.cart tr, 
	.woocommerce #content table.cart tr, 
	.woocommerce-page table.cart tr, 
	.woocommerce-page #content table.cart tr
	{
		border-bottom: solid 1px #eeeeee;
		padding: 0 0 10px;
		margin-bottom: 25px;
	}

	.woocommerce table.cart tr:last-child, 
	.woocommerce #content table.cart tr:last-child, 
	.woocommerce-page table.cart tr:last-child, 
	.woocommerce-page #content table.cart tr:last-child
	{
		padding: 0 0 10px;
	}

	.woocommerce table.cart tr td.actions .coupon input, 
	.woocommerce #content table.cart tr td.actions .coupon input, 
	.woocommerce-page table.cart tr td.actions .coupon input, 
	.woocommerce-page #content table.cart tr td.actions .coupon input
	{
		min-width: auto;
		margin-right: 0;
		padding: 16px 0;
		text-align: center;
	}

	.woocommerce table.cart tr:last-child, 
	.woocommerce #content table.cart tr:last-child, 
	.woocommerce-page table.cart tr:last-child, 
	.woocommerce-page #content table.cart tr:last-child
	{
		border-bottom: none;
	}

	.woocommerce table.cart .cart_item td:before, 
	.woocommerce #content table.cart .cart_item td:before, 
	.woocommerce-page table.cart .cart_item td:before, 
	.woocommerce-page #content table.cart .cart_item td:before
	{
		font-weight: normal;
		font-size: 14px;
		line-height: 1;
	}

	.woocommerce table.cart .cart_item td.product-remove, 
	.woocommerce #content table.cart .cart_item td.product-remove, 
	.woocommerce-page table.cart .cart_item td.product-remove, 
	.woocommerce-page #content table.cart .cart_item td.product-remove
	{
		width: 100%;
		max-width: 100%;
		margin-bottom: -20px;
	}

	.woocommerce table.cart .cart_item td.product-thumbnail, 
	.woocommerce #content table.cart .cart_item td.product-thumbnail, 
	.woocommerce-page table.cart .cart_item td.product-thumbnail, 
	.woocommerce-page #content table.cart .cart_item td.product-thumbnail
	{
		margin-bottom: 35px;
	}

	.woocommerce table.cart .cart_item td a, 
	.woocommerce #content table.cart .cart_item td a, 
	.woocommerce-page table.cart .cart_item td a, 
	.woocommerce-page #content table.cart .cart_item td a,
	.woocommerce table.cart .cart_item td span, 
	.woocommerce #content table.cart .cart_item td span, 
	.woocommerce-page table.cart .cart_item td span, 
	.woocommerce-page #content table.cart .cart_item td span
	{
		font-size: 12px;
		line-height: 14px;
		font-weight: bold;
	}

	.woocommerce table.cart .cart_item td .quantity, 
	.woocommerce #content table.cart .cart_item td .quantity, 
	.woocommerce-page table.cart .cart_item td .quantity, 
	.woocommerce-page #content table.cart .cart_item td .quantity
	{
		float: right;
		width: auto;
	}

	.woocommerce table.cart .cart_item td .input-text.qty.text, 
	.woocommerce #content table.cart .cart_item td .input-text.qty.text, 
	.woocommerce-page table.cart .cart_item td .input-text.qty.text, 
	.woocommerce-page #content table.cart .cart_item td .input-text.qty.text
	{
		padding: 0px;
	    width: 30px !important;
	    height: auto !important;
	    line-height: 1 !important;
	    font-size: 16px !important;
	    margin-top: -8px;
	}

	.woocommerce table.cart .cart_item td img, 
	.woocommerce #content table.cart .cart_item td img, 
	.woocommerce-page table.cart .cart_item td img, 
	.woocommerce-page #content table.cart .cart_item td img
	{
		max-width: 100px;
	}

	.woocommerce table.cart .cart_item td.product-thumbnail, 
	.woocommerce #content table.cart .cart_item td.product-thumbnail, 
	.woocommerce-page table.cart .cart_item td.product-thumbnail, 
	.woocommerce-page #content table.cart .cart_item td.product-thumbnail
	{
		text-align: center !important;
	}

	.woocommerce table.cart .cart_item td.product-thumbnail:before, 
	.woocommerce #content table.cart .cart_item td.product-thumbnail:before, 
	.woocommerce-page table.cart .cart_item td.product-thumbnail:before, 
	.woocommerce-page #content table.cart .cart_item td.product-thumbnail:before
	{
		display: none;
	}

	.woocommerce #content table.cart td.actions .coupon, 
	.woocommerce table.cart td.actions .coupon, 
	.woocommerce-page #content table.cart td.actions .coupon, 
	.woocommerce-page table.cart td.actions .coupon
	{
		display: block;
		width: 100%;
		float: left;
	}

	.woocommerce #content table.cart td.actions .coupon, 
	.woocommerce table.cart td.actions .coupon, 
	.woocommerce-page #content table.cart td.actions .coupon, 
	.woocommerce-page table.cart td.actions .coupon
	{
		width: 100% !important;
	}

	.woocommerce #content table.cart td.actions .coupon input, 
	.woocommerce table.cart td.actions .coupon input, 
	.woocommerce-page #content table.cart td.actions .coupon input, 
	.woocommerce-page table.cart td.actions .coupon input
	{
		width: 48% !important;
		min-width: 48% !important;
		max-width: 48% !important;
	}

	.woocommerce #content table.cart td.actions>input.button, 
	.woocommerce table.cart td.actions>input.button, 
	.woocommerce-page #content table.cart td.actions>input.button, 
	.woocommerce-page table.cart td.actions>input.button
	{
		width: 100%;
		min-width: 100%;
		max-width: 100%;
	}

	.woocommerce table.cart .cart_item td a.remove,
	.woocommerce-page table.cart .cart_item td a.remove, 
	.woocommerce-page #content table.cart .cart_item td a.remove
	{
		font-size: 20px;
	}

	.woocommerce-cart.woocommerce-page .cart-collaterals td:before,
	.woocommerce-cart.woocommerce-page .cart-collaterals td:before,
	.woocommerce-cart.woocommerce-page .cart-collaterals td:before
	{
		text-transform: uppercase;
	}

	.woocommerce-cart.woocommerce-page .cart-collaterals .cart-subtotal td > span,
	.woocommerce-cart.woocommerce-page .cart-collaterals .shipping td ul,
	.woocommerce-cart.woocommerce-page .cart-collaterals tr .order-total strong
	{
	    float: right;
    	width: 60%;
    	display: block;
    	text-align: left !important;
	}

	.woocommerce-cart.woocommerce-page .cart-collaterals tr.order-total td
	{
		text-align: left !important;
	}

	.woocommerce-shipping-calculator,
	.cart-collaterals .cart_totals .shop_table .order-total strong
	{
		padding-left: 40%;
	}

	.woocommerce-cart.woocommerce-page .cart-collaterals .cart-subtotal td, 
	.woocommerce-cart.woocommerce-page .cart-collaterals .shipping td 
	{
	    text-align: left !important;
	    background: none;
	    margin-bottom: 20px;
	    padding: 0 !important;
	}

	.woocommerce ul#shipping_method li, .woocommerce-page ul#shipping_method li
	{
		padding: 0 0 8px 20px;
		line-height: 1;
	}

	.woocommerce-cart.woocommerce-page .cart-collaterals tr {
	    display: inline-block;
	    width: 100%;
	    margin-bottom: 20px;
	}

	.cart-collaterals .cart_totals .shop_table .order-total .woocommerce-Price-amount
	{
		font-size: 24px;
	}

}



/* min-width 901px, landscape tablet,large screens */
@media only screen and (min-width: 56.3125em) {
	
	/**********************************************************************************/
	/* Portfolio **********************************************************************/
	/**********************************************************************************/
	
	.portfolio-grid-sizer
	{
		width: 33.3333333333%;
	}
	
	.portfolio-box
	{
		width: 33.3333333333%;
		padding-bottom: 33.3333333333%;
	}
	
}


/*min-width 641px and max-width 1023px, medium screens */
@media only screen and (min-width: 40.063em) and (max-width: 63.9375em) {


	/**********************************************************************************/
	/* Visual Composer Shortcodes  ****************************************************/
	/**********************************************************************************/

	.full-width-page .columns
	{
		padding-left: 60px !important;
		padding-right: 60px !important;
	}
	#wpadminbar {
	    position: absolute;
	}

	
}


/* max-width 1023px, small screens/medium screens */
@media only screen and (max-width: 63.9375em) {


	/**********************************************************************************/
	/* Visual Composer Shortcodes  ****************************************************/
	/**********************************************************************************/
	
	.full-width-page .row
	{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	
	.full-width-page .columns .row
	{
		margin-left: 0;
		margin-right: 0;
	}
	
	.full-width-page .columns .columns
	{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	
	/*.full-width-page .columns .wpb_content_element
	{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}*/
	
}

	
/* min-width 1023px, large screens */
@media only screen and (min-width: 63.9375em) {

	/**********************************************************************************/
	/* General ************************************************************************/
	/**********************************************************************************/
	
	/* fix foundation width */
	.large-block-grid-3 > li {
		width: 33.3333333333%;
	}
	
	.with-sidebar .entry-title
	{
		text-align: left;
	}	
	
	.row,
	.vc_span12.wpb_column
	{
		padding:0 60px;
		max-width: 1290px;
	}
	
    
	/**********************************************************************************/
	/* Slider *************************************************************************/
	/**********************************************************************************/
	
	.main-slider h2 {
		/*font-size:60px;*/
	}
	
	.st-menu-open .main-slider-fullscreen .swiper-slide {
		left:17px; /* fix slider with offcanvas open on desktops */
	}
	
	/**********************************************************************************/
	/* Blog ***************************************************************************/
	/**********************************************************************************/
	
	.content-area {
		padding-left:0px;
		padding-right:0px;
	}
	
	.content_hr {
		margin:50px 0 100px;
		padding: 0
	}
	
	.with-sidebar .post_header_date {
		text-align:left;
	}
	
	.without-sidebar .video-container {
		width:1170px;
		margin-left:-200px;
	}
	
	
	/**********************************************************************************/
	/* Blog Masonry ******************************************************************/
	/**********************************************************************************/
	
	.blog-post,
	.grid-sizer
	{
		width: 33.3333333333%;
	}
	
	.blog-isotope:before
	{
		left: 33.3333%;
	}
	
	.blog-isotope:after
	{
		left: 66.6666%;
	}
	
	.blog-isotope.isotope-ready:before,
	.blog-isotope.isotope-ready:after
	{
		opacity: 1;
	}

	
	/**********************************************************************************/
	/* Aside **************************************************************************/
	/**********************************************************************************/
	
	.widget-area {
		display: block;
	}
	
	/**********************************************************************************/
	/* Custom gallery *****************************************************************/
	/**********************************************************************************/

	.gallery-slider
	{
		margin: 0;
	}
	
    
    /**********************************************************************************/
    /* Page ***************************************************************************/
    /**********************************************************************************/
    
    .entry-header.with_featured_img,
    .category_header
    {
        background-position: center -200px;
    }
	
	/**********************************************************************************/
	/* Comments ***********************************************************************/
	/**********************************************************************************/
	
	.comment-list ul.children {
		margin: 0 0 1em 100px;
	}
	
	.previous-image,
	.next-image {
		margin-top:-3em;
	}
    
    /**********************************************************************************/
    /* Catalog ************************************************************************/
    /**********************************************************************************/
    
    .categories_grid .category_name,
	.category_list .category_name
	{
        font-size: 1.7em;
    }
	
	.woocommerce .no-products-info .woocommerce-info,
	.woocommerce-page .no-products-info .woocommerce-info
	{
		padding-left: 222px !important;
		padding-right:  222px !important;
	}
	
	
	/**********************************************************************************/
	/* Product Single *****************************************************************/
	/**********************************************************************************/
	
	.product_summary_thumbnails_wrapper {
		display:block;
	}
	
	.recently_viewed_in_single_wrapper {
		display:block;
	}
	
	.product_infos {
		padding:0 20px 0 20px;
	}
	
	.product_images .flex-control-nav {
		display:none;
	}
	
	.product_images .owl-controls {
		display:none !important;
	}
	
    .product-nav-previous,
    .product-nav-next {
        position: fixed;
        top: 50%;
        margin-top: -35px;
    }
    
    .product-nav-previous {
        left: 0;
    }

    .product-nav-next {
        right: 0;
    }
	
	.product-nav-previous a,
    .product-nav-next a {
		display:inline-block;
		width:70px;
		height:87px;
	}
	
	
	/**********************************************************************************/
	/* Fresco *************************************************************************/
	/**********************************************************************************/
	
	.fr-close
	{
		display: block;
	}
	
	
	/**********************************************************************************/
    /* My account *********************************************************************/
    /**********************************************************************************/ 
  
	.account-img-container
	{
		text-align: center;
		padding-right: 0px;
	}
	
	/* View Order*/
	.order-info
	{
		margin-bottom: 100px;
		font-size: 1em;
		max-width: 65%;
		margin: 0 auto 60px;
		
	}
	
	
	/**********************************************************************************/
	/* Checkout ***********************************************************************/
	/**********************************************************************************/
	
	/* Checkout - Thank you */

	.woocommerce .order_details li strong,
	.woocommerce-page .order_details li strong
	{
		font-size: 1.4em;
	}
	
	.thank_you_header
	{
		overflow: visible;
	}
	
	.woocommerce .thank_you_header_img_top,
	.woocommerce-page .thank_you_header_img_top,
	.woocommerce .thank_you_header_img_bottom,
	.woocommerce-page .thank_you_header_img_bottom
	{
		max-width: 100%;
	}
	
	
	/**********************************************************************************/
	/* Wishlist Plugin ****************************************************************/
	/**********************************************************************************/

	.woocommerce-page table.cart.wishlist_table .product-name,
	.woocommerce-page #content table.cart.wishlist_table .product-name
	{
		padding-right: 130px !important;
	}
	
    /**********************************************************************************/
    /* Contact page *******************************************************************/
    /**********************************************************************************/
    
    .wpcf7 {
        /*width: 70%;
        float: right;
        padding: 0 0 0 70px !important;*/
    }
    
    .wpcf7 p {
        padding: 0 0 10px 30px;
    }
    
    .wpcf7 p.half {
        width: 50%;
        float: left;
    }
	
	/**********************************************************************************/
	/* Icons page  ********************************************************************/
	/**********************************************************************************/
	
	ul.font-group li {
		width: 12.5%;
	}
	
	ul.font-group li:nth-child(n) {
		clear: none;
	}
	
	ul.font-group li:nth-child(8n+1) {
		clear: both;
	}
	
	/**********************************************************************************/
	/* Footer  ************************************************************************/
	/**********************************************************************************/
	
	.site-footer-widget-area .columns:nth-child(2n+1) {
		clear:none;
	}
	
	.site-footer-widget-area .footer-5-columns
	{
		width: 20%;
	}
	
	.site-footer-widget-area .columns:nth-child(6n+1) {
		clear:left;
	}

	
	/**********************************************************************************/
	/* Visual Composer Shortcodes  ****************************************************/
	/**********************************************************************************/
	
	/*General*/

	.full-width-page .wpb_wrapper div[id^="gallery-"],
	.full-width-page .wpb_alert.wpb_content_element,
	.full-width-page .wpb_wrapper .wpb_gmaps_widget,
	.full-width-page .wpb_wrapper #map_container,
	.full-width-page .wpb_wrapper .wpb_revslider_element,
	.full-width-page .wpb_wrapper .portfolio-isotope-container
	{
		margin-left: -15px !important;
		margin-right: -15px !important;
	}
	
	
	/* Visual Composer Rows */
	
	.full-width-page .column_container
	{
		padding-left: 0.9375rem;
		padding-right: 0.9375rem;
	}
	
	/*.vc_row-fluid.parallax {
		background-size:0 !important;
		background-position:center center;
		background-repeat:no-repeat;
	}
	
	.vc_row-fluid.parallax.loaded
	{
		background-size:cover !important;
	}*/
	
	.full-width-page .boxed-row
	{
		padding-left: 45px;
		padding-right: 45px;
	}
	
	
	/*Contact Form 7*/
	
	.wpb_wrapper .wpcf7-form
	{
		margin-left: -30px;
	}
	
	
	/* from the blog */

	.boxed-row .wpb_wrapper .from-the-blog-wrapper {
		margin: 0px -15px 0px;
	}
	
	
}

@media only screen and (max-width: 64em) {
	#wpadminbar {
	    position: absolute;
	}
}

/* min-width 1025px, large screens */
@media only screen and (min-width: 64.0625em) {

	/**********************************************************************************/
	/* Top Bar ************************************************************************/
	/**********************************************************************************/
	
	#site-top-bar {
		display:block;
	}
	
	/**********************************************************************************/
	/* Header *************************************************************************/
	/**********************************************************************************/
	
	.main-navigation {
		display:block;
	}

	.site-tools {
		background: none;
	}
	
	.site-tools ul li.mobile-menu-button {
		display:none;
	}
	
	.site-tools-header-centered {
		display:none !important;
	}
	
	.site-header-sticky{
		display: block;
	}
	
	/**********************************************************************************/
    /* Catalog ************************************************************************/
    /**********************************************************************************/
	
	select.big-select
	{
		opacity: 0;
	}
	
	select.topbar-language-switcher,
	select.wcml_currency_switcher
	{
		/*opacity: 0;*/
		display: inline-block;
		margin-bottom: 0;
		width: 140px;
	}
	
	
	/**********************************************************************************/
	/* Visual Composer Shortcodes  ****************************************************/
	/**********************************************************************************/
	
	.lookbook-first-slide-wrapper .lookbook-title {
		font-size: 120px;
		margin-bottom: 40px;
	}

	.lookbook-first-slide-wrapper .lookbook-subtitle {
		font-size: 36px;
	}

	.lookbook_product_title {
		font-size: 36px !important;
	}

	.lookbook_product_price {
		font-size: 18px;
	}
	
}


/* min-width 1265px, xlarge screens  */
@media only screen and (min-width: 80em) {	
	
	/**********************************************************************************/
	/* Portfolio **********************************************************************/
	/**********************************************************************************/
	
	.portfolio-grid-sizer
	{
		width: 25%;
	}
	
	.portfolio-box
	{
		width: 25%;
		padding-bottom: 25%;
	}

	.default_grid.items_per_row_4 .portfolio-grid-sizer
	{
		width: 25%;
	}

	.default_grid.items_per_row_4 .portfolio-box
	{
		width: 25%;
	}
		
	
	/*portfolio default - 3 items per row*/
	
	.default_grid.items_per_row_3 .portfolio-grid-sizer
	{
		width: 33.3333333333%;
	}
	
	.default_grid.items_per_row_3 .portfolio-box
	{
		padding-bottom: 33.33333333333%;
		width: 33.3333333333%;
	}

	.woocommerce .cart-collaterals .cart_totals,
	.woocommerce-page .cart-collaterals .cart_totals
	{
		width: 500px !important;
		display: inline-block;
		max-width: 100%;
	}

	.woocommerce .cart-collaterals .cross-sells, 
	.woocommerce-page .cart-collaterals .cross-sells
	{
		padding: 0 80px 0 0;
		float: left;
		max-width: calc(100% - 500px);
		width: 500px;
	}
}

/* min-width 1360px, laptop */
@media only screen and (min-width: 85em){
	.portfolio-grid-sizer
	{
		width: 20%;
	}
	
	.portfolio-box
	{
		width: 20%;
		padding-bottom: 20%;
	}
}

/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em){

	.woocommerce-view-order section.woocommerce-columns--addresses .woocommerce-column--1 
	{
	    padding-left: 0 !important; 
	}

	/**********************************************************************************/
	/* Portfolio **********************************************************************/
	/**********************************************************************************/
	
	.portfolio-grid-sizer
	{
		width: 20%;
	}
	
	.portfolio-box
	{
		width: 20%;
		padding-bottom: 20%;
	}
	
	.woocommerce ul.digital-downloads li:after,
	.woocommerce-page ul.digital-downloads li:after
	{
		width: 970px;
		margin: 23px 0 23px -100px;;
	}

	.woocommerce-checkout .shop_table.order_details,
	.woocommerce-checkout .shop_table.customer_details,
	.woocommerce-view-order .shop_table.order_details,
	.woocommerce-view-order .shop_table.customer_details
	{
		margin: 0 auto;
	}

	.woocommerce .shop_table.order_details th:first-child,
	.woocommerce .shop_table.order_details td:first-child,
	.woocommerce-page .shop_table.woocommerce-checkout-review-order-table th:first-child,
	.woocommerce-page .shop_table.woocommerce-checkout-review-order-table td:first-child,
	.woocommerce .shop_table.customer_details th
	{
		padding-left: 100px;
		padding-right: 100px;
	}
	
	.woocommerce-checkout-payment li,
	.woocommerce #payment div.form-row.place-order,
	.woocommerce-page #payment div.form-row.place-order
	{
		padding-left: 100px;
	}
	
	.woocommerce #payment .terms,
	.woocommerce-page #payment .terms
	{
		padding-left: 0;
	}
	
	.woocommerce .shop_table.customer_details th
	{
		width: 50%;
	}

	.woocommerce .shop_table.order_details  tbody th:last-child,
	.woocommerce .shop_table.order_details  tbody td:last-child,
	.woocommerce-page .shop_table.woocommerce-checkout-review-order-table tbody th:last-child,
	.woocommerce-page .shop_table.woocommerce-checkout-review-order-table  tbody td:last-child
	{
		padding-right: 100px;
		width: 250px;
	}

	.order_details_footer_container,
	.woocommerce-page .my_account_container table.shop_table.order_details_footer
	{
		width: 510px ;
	}
	
	.order_details_footer_container
	{
		margin-right: -100px;
	}

	.woocommerce .my_account_container table.shop_table.order_details_footer td:first-child,
	.woocommerce-page .my_account_container table.shop_table.order_details_footer td:first-child
	{
		width: 50%;
	}
	
	.woocommerce-checkout .thank_you_bank_details h3:after, 
	.woocommerce .thank_you_header_img_top,
	.woocommerce-page .thank_you_header_img_top,
	.woocommerce .thank_you_header_img_bottom,
	.woocommerce-page .thank_you_header_img_bottom
	{
		width: 970px;
		max-width: 970px;
		margin-left: -100px;
	}
	
	
	/**********************************************************************************/
	/* Cart ***************************************************************************/
	/**********************************************************************************/
	
	
	.woocommerce table.cart .product-name,
	.woocommerce #content table.cart .product-name,
	.woocommerce-page table.cart .product-name,
	.woocommerce-page #content table.cart .product-name
	{
		width: 40%;
		padding-right: 120px;
	}
	
	.woocommerce-cart table.cart .product-quantity,
	.woocommerce-cart #content table.cart .product-quantity,
	.woocommerce-cart table.cart .product-quantity,
	.woocommerce-cart #content table.cart .product-quantity,
	.woocommerce-cart table.cart td.product-subtotal,
	.woocommerce-cart #content table.cart td.product-subtotal,
	.woocommerce-cart table.cart td.product-subtotal,
	.woocommerce-cart #content table.cart td.product-subtotal
	{
		padding-right: 80px;
	}
	
	/*	.woocommerce .cart-collaterals .cart_totals,
	.woocommerce-page .cart-collaterals .cart_totals
	{
		width: 500px !important;
		display: inline-block;
		max-width: 100%;
	}

	.woocommerce .cart-collaterals .cross-sells, 
	.woocommerce-page .cart-collaterals .cross-sells
	{
		padding: 0 40px 0 0;
		float: left;
		max-width: calc(100% - 500px);
		width: 500px;
	}*/
	
	.cart-buttons .update_and_checkout .update_cart, 
	.cart-buttons .update_and_checkout .checkout-button,
	.cart-buttons .coupon .apply_coupon
	{
		width: auto;
		margin-bottom: 0 !important;
	}
	
	.cart-buttons .coupon #coupon_code
	{
		width: auto;
		margin-right: 25px;
		margin-bottom: 0 !important;
	}
	
	.woocommerce .cart-collaterals .cart_totals tr.order-total td strong,
	.woocommerce-page .cart-collaterals .cart_totals tr.order-total td strong
	{
		font-size:36px;
		font-weight: 400;
		/*margin-top:-10px;*/
	}
	
	
	/**********************************************************************************/
	/* Icons page  ********************************************************************/
	/**********************************************************************************/
	
	ul.font-group li {
		width: 10%;
	}
	
	ul.font-group li:nth-child(n) {
		clear: none;
	}
	
	ul.font-group li:nth-child(10n+1) {
		clear: both;
	}
	
	
	
	/**********************************************************************************/
	/* Visual Composer Shortcodes  ****************************************************/
	/**********************************************************************************/
	
	/*lookbook slider*/
	
	/*.lookbook-title
	{
		font-size: 36px;
		margin: -38px 0 0px;
	}
	
	.lookbook-subtitle
	{
		font-size: 30px;
		margin: 0;
	}*/
}


/* min-width 1601px, xlarge screens */
@media only screen and (min-width: 100.063em) {
	
	/**********************************************************************************/
	/* Portfolio **********************************************************************/
	/**********************************************************************************/
	
	.portfolio-grid-sizer
	{
		width: 20%;
	}
	
	.portfolio-box
	{
		width: 20%;
		padding-bottom: 20%;
	}
	
	
	/*portfolio default - 4 items per row*/
	
	.default_grid.items_per_row_4 .portfolio-grid-sizer
	{
		width: 25%;
	}
	
	.default_grid.items_per_row_4 .portfolio-box
	{
		padding-bottom: 25%;
		width: 25%;
	}
} 
