/* ORIGINAL */

/* icon-wpb-row */
.wpb-content-layouts .wpb-layout-element-button .icon-wpb-row
{
    background-image: url(../images/visual_composer/row.png) !important;
	background-position:0 0;
}

/* icon-wpb-layer-shape-text */
.wpb-content-layouts .wpb-layout-element-button .icon-wpb-layer-shape-text
{
    background-image: url(../images/visual_composer/text-block.png) !important;
	background-position:0 0;
}

/* icon-wpb-layer-shape-text */
.wpb-content-layouts .wpb-layout-element-button .icon-wpb-ui-separator
{
    background-image: url(../images/visual_composer/separator.png) !important;
	background-position:0 0;
}

/* icon-wpb-layer-shape-text */
.wpb-content-layouts .wpb-layout-element-button .icon-wpb-ui-separator-label
{
    background-image: url(../images/visual_composer/separator-text.png) !important;
	background-position:0 0;
}

/* icon-wpb-information-white */
.wpb-content-layouts .wpb-layout-element-button .icon-wpb-information-white
{
    background-image: url(../images/visual_composer/message-box.png) !important;
	background-position:0 0;
}

/* icon-wpb-balloon-facebook-left */
.wpb-content-layouts .wpb-layout-element-button .icon-wpb-balloon-facebook-left,
.wpb_vc_facebook .wpb_element_wrapper
{
    background-image: url(../images/visual_composer/facebook.png) !important;
	background-position:0 0;
}

/* icon-wpb-balloon-facebook-left */
.wpb-content-layouts .wpb-layout-element-button .icon-wpb-tweetme,
.wpb_vc_tweetmeme .wpb_element_wrapper,
.wpb_vc_tweetme .wpb_element_wrapper
{
    background-image: url(../images/visual_composer/twitter.png) !important;
	background-position:0 0;
}

/* icon-wpb-application-plus */
.wpb-content-layouts .wpb-layout-element-button .icon-wpb-application-plus,
.wpb_vc_googleplus .wpb_element_wrapper
{
    background-image: url(../images/visual_composer/google-plus.png) !important;
	background-position:0 0;
}

/* icon-wpb-application-plus */
.wpb-content-layouts .wpb-layout-element-button .icon-wpb-pinterest,
.wpb_vc_pinterest .wpb_element_wrapper
{
    background-image: url(../images/visual_composer/pinterest.png) !important;
	background-position:0 0;
}

/* icon-wpb-toggle-small-expand */
.wpb-content-layouts .wpb-layout-element-button .icon-wpb-toggle-small-expand
{
    background-image: url(../images/visual_composer/faq-toggle.png) !important;
	background-position:0 0;
}

/* icon-wpb-toggle-small-expand */
.wpb-content-layouts .wpb-layout-element-button .icon-wpb-single-image,
.wpb_vc_single_image .wpb_element_wrapper
{
    background-image: url(../images/visual_composer/single-image.png) !important;
	background-position:0 0;
}

.wpb_vc_single_image .attachment-thumbnail {
	width:33px !important;
	max-width:none !important;
	height:auto !important;
	min-height:33px !important;
}

/* icon-wpb-toggle-small-expand */
.wpb-content-layouts .wpb-layout-element-button .icon-wpb-images-stack,
.wpb_vc_gallery .wpb_element_wrapper
{
    background-image: url(../images/visual_composer/gallery-element.png) !important;
	background-position:0 0;
}

/* icon-wpb-images-carousel */
.wpb-content-layouts .wpb-layout-element-button .icon-wpb-images-carousel,
.wpb_vc_images_carousel .wpb_element_wrapper
{
    background-image: url(../images/visual_composer/image-carousel.png) !important;
	background-position:0 0;
}

/* icon-wpb-ui-tab-content */
.wpb-content-layouts .wpb-layout-element-button .icon-wpb-ui-tab-content
{
    background-image: url(../images/visual_composer/tabs.png) !important;
	background-position:0 0;
}

/* icon-wpb-ui-tab-content-vertical */
.wpb-content-layouts .wpb-layout-element-button .icon-wpb-ui-tab-content-vertical
{
    background-image: url(../images/visual_composer/stacked-tabs.png) !important;
	background-position:0 0;
}

/* icon-wpb-ui-accordion */
.wpb-content-layouts .wpb-layout-element-button .icon-wpb-ui-accordion
{
    background-image: url(../images/visual_composer/accordion.png) !important;
	background-position:0 0;
}

/* icon-wpb-layout_sidebar */
.wpb-content-layouts .wpb-layout-element-button .icon-wpb-layout_sidebar,
.wpb_vc_widget_sidebar .wpb_element_wrapper
{
    background-image: url(../images/visual_composer/widgetised-sidebar.png) !important;
	background-position:0 0;
}

/* icon-wpb-ui-button */
.wpb-content-layouts .wpb-layout-element-button .icon-wpb-ui-button,
.wpb_vc_btn .wpb_element_wrapper
{
    background-image: url(../images/visual_composer/button-2.png) !important;
    background-position:0 0;
}

/* icon-wpb-call-to-action */
.wpb-content-layouts .wpb-layout-element-button .icon-wpb-call-to-action,
.wpb_vc_cta .wpb_element_wrapper
{
    background-image: url(../images/visual_composer/call-to-action-2.png) !important;
    background-position:0 0;
}

/* icon-wpb-film-youtube */
.wpb-content-layouts .wpb-layout-element-button .icon-wpb-film-youtube,
.wpb_vc_video .wpb_element_wrapper
{
    background-image: url(../images/visual_composer/video-player.png) !important;
	background-position:0 0;
}

/* icon-wpb-map-pin */
.wpb-content-layouts .wpb-layout-element-button .icon-wpb-map-pin,
.wpb_vc_gmaps .wpb_element_wrapper
{
    background-image: url(../images/visual_composer/google-maps.png) !important;
	background-position:0 0;
}

/* icon-wpb-raw-html */
.wpb-content-layouts .wpb-layout-element-button .icon-wpb-raw-html,
.wpb_vc_raw_html .wpb_element_wrapper
{
    background-image: url(../images/visual_composer/raw-html.png) !important;
	background-position:0 0;
}

/* icon-wpb-raw-javascript */
.wpb-content-layouts .wpb-layout-element-button .icon-wpb-raw-javascript,
.wpb_vc_raw_js .wpb_element_wrapper
{
    background-image: url(../images/visual_composer/raw-js.png) !important;
	background-position:0 0;
}

/* icon-wpb-graph */
.wpb-content-layouts .wpb-layout-element-button .icon-wpb-graph,
.wpb_vc_progress_bar .wpb_element_wrapper
{
    background-image: url(../images/visual_composer/progress-bar.png) !important;
	background-position:0 0;
}

/* icon-wpb-vc_pie */
.wpb-content-layouts .wpb-layout-element-button .icon-wpb-vc_pie,
.wpb_vc_pie .wpb_element_wrapper
{
    background-image: url(../images/visual_composer/pie-chart.png) !important;
	background-position:0 0;
}

/* icon-wpb-contactform7 */
.wpb-content-layouts .wpb-layout-element-button .icon-wpb-contactform7,
.wpb_contact-form-7 .wpb_element_wrapper
{
    background-image: url(../images/visual_composer/contact-form7.png) !important;
	background-position:0 0;
}

/* icon-wpb-revslider */
.wpb-content-layouts .wpb-layout-element-button .icon-wpb-revslider,
.wpb_rev_slider_vc .wpb_element_wrapper
{
    background-image: url(../images/visual_composer/revolution-slider.png) !important;
	background-position:0 0;
}

/* icon-wpb-ui-custom_heading */
.wpb-content-layouts .wpb-layout-element-button .icon-wpb-ui-custom_heading,
.wpb_vc_custom_heading .wpb_element_wrapper
{
    background-image: url(../images/visual_composer/custom-heading.png) !important;
	background-position:0 0;
}

/* icon-wpb-ui-empty_space */
.wpb-content-layouts .wpb-layout-element-button .icon-wpb-ui-empty_space,
.wpb_vc_empty_space .wpb_element_wrapper
{
    background-image: url(../images/visual_composer/empty-space.png) !important;
	background-position:0 0;
}




/* icon-wpb-application-icon-large */
.wpb-content-layouts .wpb-layout-element-button .icon-wpb-application-icon-large,
.wpb_vc_basic_grid .wpb_element_wrapper
{
    background-image: url(../images/visual_composer/basic-grid.png) !important;
    background-position:0 0;
}

/* vc_icon-vc-media-grid */
.wpb-content-layouts .wpb-layout-element-button .vc_icon-vc-media-grid,
.wpb_vc_media_grid .wpb_element_wrapper
{
    background-image: url(../images/visual_composer/basic-grid-media.png) !important;
    background-position:0 0;
}

/* vc_icon-vc-masonry-grid */
.wpb-content-layouts .wpb-layout-element-button .vc_icon-vc-masonry-grid,
.wpb_vc_masonry_grid .wpb_element_wrapper
{
    background-image: url(../images/visual_composer/masonry-grid.png) !important;
    background-position:0 0;
}

/* vc_icon-vc-masonry-media-grid */
.wpb-content-layouts .wpb-layout-element-button .vc_icon-vc-masonry-media-grid,
.wpb_vc_masonry_media_grid .wpb_element_wrapper
{
    background-image: url(../images/visual_composer/masonry-grid-media.png) !important;
    background-position:0 0;
}

/* icon-wpb-vc_icon */
.wpb-content-layouts .wpb-layout-element-button .icon-wpb-vc_icon,
.wpb_vc_icon .wpb_element_wrapper
{
    background-image: url(../images/visual_composer/icon.png) !important;
    background-position:0 0;
}

/* woocommerce_cart */
/* woocommerce_checkout */
/* woocommerce_order_tracking */
/* woocommerce_my_account */
.wpb-content-layouts .wpb-layout-element-button .icon-wpb-woocommerce,
.wpb_woocommerce_cart .wpb_element_wrapper,
.wpb_woocommerce_checkout .wpb_element_wrapper,
.wpb_woocommerce_order_tracking .wpb_element_wrapper,
.wpb_woocommerce_my_account .wpb_element_wrapper
{
    background-image: url(../images/visual_composer/woo-element.png) !important;
    background-position:0 0;
}















/* CUSTOM */


/* from_the_blog */
.wpb-content-layouts .wpb-layout-element-button .from_the_blog,
.wpb_from_the_blog.wpb_content_element > .wpb_element_wrapper,
.wpb_from_the_blog[data-element_type=from_the_blog]
{
    background-image: url(../images/visual_composer/posts-slider.png);
}

/* blog_posts_mixed */
.wpb-content-layouts .wpb-layout-element-button .blog_posts_mixed,
.wpb_blog_posts_mixed.wpb_content_element > .wpb_element_wrapper,
.wpb_blog_posts_mixed[data-element_type=blog_posts_mixed]
{
    background-image: url(../images/visual_composer/posts-slider.png);
}

/* gallery */
.wpb-content-layouts .wpb-layout-element-button .gallery,
.wpb_gallery.wpb_content_element > .wpb_element_wrapper,
.wpb_gallery[data-element_type=gallery]
{
    background-image: url(../images/visual_composer/gallery-element.png);
}

/* recent_products_mixed */
/* recent_products */
.wpb-content-layouts .wpb-layout-element-button .recent_products_mixed,
.wpb_recent_products_mixed.wpb_content_element > .wpb_element_wrapper,
.wpb_recent_products_mixed[data-element_type=recent_products_mixed],

.wpb-content-layouts .wpb-layout-element-button .recent_products,
.wpb_recent_products.wpb_content_element > .wpb_element_wrapper,
.wpb_recent_products[data-element_type=recent_products]
{
    background-image: url(../images/visual_composer/mr-tailor-thumb-x64.png);
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
}

/* featured_products_mixed */
/* featured_products */
.wpb-content-layouts .wpb-layout-element-button .featured_products_mixed,
.wpb_featured_products_mixed.wpb_content_element > .wpb_element_wrapper,
.wpb_featured_products_mixed[data-element_type=featured_products_mixed],

.wpb-content-layouts .wpb-layout-element-button .featured_products,
.wpb_featured_products.wpb_content_element > .wpb_element_wrapper,
.wpb_featured_products[data-element_type=featured_products]
{
    background-image: url(../images/visual_composer/mr-tailor-thumb-x64.png);
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
}

/* products_slider */
.wpb-content-layouts .wpb-layout-element-button .products_slider,
.wpb_products_slider.wpb_content_element > .wpb_element_wrapper,
.wpb_products_slider[data-element_type=products_slider]
{
    background-image: url(../images/visual_composer/mr-tailor-thumb-x64.png);
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
}

/* products_by_category_mixed */
/* products_by_category */
.wpb-content-layouts .wpb-layout-element-button .product_category_mixed,
.wpb_product_category_mixed.wpb_content_element > .wpb_element_wrapper,
.wpb_product_category_mixed[data-element_type=product_category_mixed],

.wpb-content-layouts .wpb-layout-element-button .product_category,
.wpb_product_category.wpb_content_element > .wpb_element_wrapper,
.wpb_product_category[data-element_type=product_category]
{
    background-image: url(../images/visual_composer/mr-tailor-thumb-x64.png);
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
}

/* product_attribute_mixed */
/* products_by_attribute */
.wpb-content-layouts .wpb-layout-element-button .product_attribute_mixed,
.wpb_product_attribute_mixed.wpb_content_element > .wpb_element_wrapper,
.wpb_product_attribute_mixed[data-element_type=product_attribute_mixed],

.wpb-content-layouts .wpb-layout-element-button .product_attribute,
.wpb_product_attribute.wpb_content_element > .wpb_element_wrapper,
.wpb_product_attribute[data-element_type=product_attribute]
{
    background-image: url(../images/visual_composer/mr-tailor-thumb-x64.png);
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
}

/* product */
.wpb-content-layouts .wpb-layout-element-button .product,
.wpb_product.wpb_content_element > .wpb_element_wrapper,
.wpb_product[data-element_type=product]
{
    background-image: url(../images/visual_composer/mr-tailor-thumb-x64.png);
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
}

.wpb-content-layouts .wpb-layout-element-button .product_mod,
.wpb_product_mod.wpb_content_element > .wpb_element_wrapper,
.wpb_product[data-element_type=product_mod]
{
    background-image: url(../images/visual_composer/mr-tailor-thumb-x64.png);
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
}

/* products_mixed */
/* products */
.wpb-content-layouts .wpb-layout-element-button .products_mixed,
.wpb_products_mixed.wpb_content_element > .wpb_element_wrapper,
.wpb_products_mixed[data-element_type=products_mixed],

.wpb-content-layouts .wpb-layout-element-button .products,
.wpb_products.wpb_content_element > .wpb_element_wrapper,
.wpb_products[data-element_type=products]
{
    background-image: url(../images/visual_composer/mr-tailor-thumb-x64.png);
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
}

/* sale_products_mixed */
/* sale_products */
.wpb-content-layouts .wpb-layout-element-button .sale_products_mixed,
.wpb_sale_products_mixed.wpb_content_element > .wpb_element_wrapper,
.wpb_sale_products_mixed[data-element_type=sale_products_mixed],

.wpb-content-layouts .wpb-layout-element-button .sale_products,
.wpb_sale_products.wpb_content_element > .wpb_element_wrapper,
.wpb_sale_products[data-element_type=sale_products]
{
    background-image: url(../images/visual_composer/mr-tailor-thumb-x64.png);
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
}

/* top_rated_products_mixed */
/* top_rated_products */
.wpb-content-layouts .wpb-layout-element-button .top_rated_products_mixed,
.wpb_top_rated_products_mixed.wpb_content_element > .wpb_element_wrapper,
.wpb_top_rated_products_mixed[data-element_type=top_rated_products_mixed],

.wpb-content-layouts .wpb-layout-element-button .top_rated_products,
.wpb_top_rated_products.wpb_content_element > .wpb_element_wrapper,
.wpb_top_rated_products[data-element_type=top_rated_products]
{
    background-image: url(../images/visual_composer/mr-tailor-thumb-x64.png);
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
}

/* best_selling_products_mixed */
/* best_selling_products */
.wpb-content-layouts .wpb-layout-element-button .best_selling_products_mixed,
.wpb_best_selling_products_mixed.wpb_content_element > .wpb_element_wrapper,
.wpb_best_selling_products_mixed[data-element_type=best_selling_products_mixed],

.wpb-content-layouts .wpb-layout-element-button .best_selling_products,
.wpb_best_selling_products.wpb_content_element > .wpb_element_wrapper,
.wpb_best_selling_products[data-element_type=best_selling_products]
{
    background-image: url(../images/visual_composer/mr-tailor-thumb-x64.png);
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
}

/* add_to_cart */
.wpb-content-layouts .wpb-layout-element-button .add_to_cart,
.wpb_add_to_cart.wpb_content_element > .wpb_element_wrapper,
.wpb_add_to_cart[data-element_type=add_to_cart],
.wpb-content-layouts .wpb-layout-element-button .custom_add_to_cart,
.wpb_custom_add_to_cart.wpb_content_element > .wpb_element_wrapper,
.wpb_custom_add_to_cart[data-element_type=custom_add_to_cart]
{
    background-image: url(../images/visual_composer/mr-tailor-thumb-x64.png);
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
}

/* add_to_cart_url */
.wpb-content-layouts .wpb-layout-element-button .add_to_cart_url,
.wpb_add_to_cart_url.wpb_content_element > .wpb_element_wrapper,
.wpb_add_to_cart_url[data-element_type=add_to_cart_url]
{
    background-image: url(../images/visual_composer/mr-tailor-thumb-x64.png);
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
}

/* product_categories */
.wpb-content-layouts .wpb-layout-element-button .product_categories,
.wpb_product_categories.wpb_content_element > .wpb_element_wrapper,
.wpb_product_categories[data-element_type=product_categories]
{
    background-image: url(../images/visual_composer/mr-tailor-thumb-x64.png);
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
}

/* product_categories_grid */
.wpb-content-layouts .wpb-layout-element-button .product_categories_grid,
.wpb_product_categories_grid.wpb_content_element > .wpb_element_wrapper,
.wpb_product_categories_grid[data-element_type=product_categories_grid]
{
    background-image: url(../images/visual_composer/mr-tailor-thumb-x64.png);
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
}

/* social-media */
.wpb-content-layouts .wpb-layout-element-button .social-media,
.wpb_social-media.wpb_content_element > .wpb_element_wrapper,
.wpb_social-media[data-element_type=social-media]
{
    background-image: url(../images/visual_composer/social-profiles.png);
}

/* banner_simple_height */
.wpb-content-layouts .wpb-layout-element-button .banner,
.wpb_banner.wpb_content_element > .wpb_element_wrapper,
.wpb_banner[data-element_type=banner]
{
    background-image: url(../images/visual_composer/banner.png);
}

/* team_member */
.wpb-content-layouts .wpb-layout-element-button .team_member,
.wpb_team_member.wpb_content_element > .wpb_element_wrapper,
.wpb_team_member[data-element_type=team_member]
{
    background-image: url(../images/visual_composer/team-member.png);
}

/* icon_box */
.wpb-content-layouts .wpb-layout-element-button .icon_box,
.wpb_icon_box.wpb_content_element > .wpb_element_wrapper,
.wpb_icon_box[data-element_type=icon_box]
{
    background-image: url(../images/visual_composer/icon-box.png);
}

/* recent_work_filtered */
.wpb-content-layouts .wpb-layout-element-button .recent_work_filtered,
.wpb_recent_work_filtered.wpb_content_element > .wpb_element_wrapper,
.wpb_recent_work_filtered[data-element_type=recent_work_filtered]
{
    background-image: url(../images/visual_composer/portfolio.png);
}

/* title_subtitle */
.wpb-content-layouts .wpb-layout-element-button .title_subtitle,
.wpb_title_subtitle.wpb_content_element > .wpb_element_wrapper,
.wpb_title_subtitle[data-element_type=title_subtitle]
{
    background-image: url(../images/visual_composer/title-subtitle-2.png);
}

/* google_map */
.wpb-content-layouts .wpb-layout-element-button .google_map,
.wpb_google_map.wpb_content_element > .wpb_element_wrapper,
.wpb_google_map[data-element_type=google_map]
{
    background-image: url(../images/visual_composer/google-maps.png);
}

/* title */
.wpb-content-layouts .wpb-layout-element-button .title,
.wpb_title.wpb_content_element > .wpb_element_wrapper,
.wpb_title[data-element_type=title]
{
    background-image: url(../images/visual_composer/title.png);
}

/* portfolio */
.wpb-content-layouts .wpb-layout-element-button .portfolio,
.wpb_portfolio.wpb_content_element > .wpb_element_wrapper,
.wpb_portfolio[data-element_type=portfolio]
{
    background-image: url(../images/visual_composer/portfolio.png);
}

/* lookbook */
.wpb-content-layouts .wpb-layout-element-button .lookbook_mixed,
.wpb_lookbook_mixed.wpb_content_element > .wpb_element_wrapper,
.wpb_lookbook_mixed[data-element_type=lookbook_mixed]
{
    background-image: url(../images/visual_composer/lookbook.png);
}

/* slider */
.wpb-content-layouts .wpb-layout-element-button .slider,
.wpb_slider.wpb_content_holder > .wpb_element_wrapper,
.wpb_slider[data-element_type=slider]
{
    background-image: url(../images/visual_composer/slider.png);
}









/* LAYOUT */

/*[data-element="recent_products"],
[data-element="featured_products"],
[data-element="product"],
[data-element="products"],
[data-element="add_to_cart_url"],
[data-element="product_page"],
[data-element="product_category"],
[data-element="sale_products"],
[data-element="best_selling_products"],
[data-element="top_rated_products"],
[data-element="product_attribute"],
[data-element="add_to_cart"]
{
    display: none !important;
}*/

.hide_in_vc_editor {
	display:none;
}

.vc_admin_label {
	border-right: 1px solid #ccc;
	padding-right: 5px;
}

.wpb_vc_row, .wpb_vc_row_inner {
	margin-bottom:25px;
}

.wpb_vc_row_inner.wpb_sortable {
	margin-bottom: 0px !important;
}

.wpb_row_container > .wpb_vc_column,
.wpb_row_container > .wpb_vc_column_inner
{
	margin-bottom: 0 !important;
}









/**/

.wpb_element_wrapper .vc_element-icon {
	background:none !important;
}

.vc_custom_select_custom_wrapper {
	position: relative;
}

#vc_custom_select_custom_prod, #vc_custom_select_custom_cat { display: none; }


.vc_custom_select_custom {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #AAA;
	border-top: 0;
	background: #FFF;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
	display: none;
	left: 0;
	max-height: 141px;
	margin-top: 0px;
	padding-top: 5px;
	position: absolute;
	overflow-y: auto;
	top: 100%;
	width: 100%;
	z-index: 9;
}

.vc_custom_select_custom li {
	color: #555;
	cursor: pointer;
	padding: 5px 6px;
}

.vc_custom_select_custom li:hover {
	background-color: #3875D7;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(20%,#3875D7),color-stop(90%,#2A62BC));
	background-image: -webkit-linear-gradient(#3875D7 20%,#2A62BC 90%);
	background-image: -moz-linear-gradient(#3875d7 20%,#2a62bc 90%);
	background-image: -o-linear-gradient(#3875d7 20%,#2a62bc 90%);
	background-image: linear-gradient(#3875D7 20%,#2A62BC 90%);
	color: #FFF;
}

.vc_custom_select_custom li.selected,
.vc_custom_select_custom li.selected:hover {
	background: none;
	color: #CCC;
	cursor: default;
}

.vc_custom_select_custom_vals {
	border: 1px solid #DDD;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
	cursor: pointer;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
	min-height: 19px;
	padding: 8px 6px;
}

.vc_custom_select_custom_vals.active {
	border-color: #5897FB;
}

.vc_custom_select_custom_vals.active + .vc_custom_select_custom {
	display: block;
}

.vc_custom_select_custom_vals:after {
	clear: both;
	content: '';
	display: table;
}

.vc_custom_select_custom_vals li {
	border: 1px solid #AAA;
	border-radius: 3px;
	background-color: #E4E4E4;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(20%,#F4F4F4),color-stop(50%,#F0F0F0),color-stop(52%,#E8E8E8),color-stop(100%,#EEE));
	background-image: -webkit-linear-gradient(#F4F4F4 20%,#F0F0F0 50%,#E8E8E8 52%,#EEE 100%);
	background-image: -moz-linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);
	background-image: -o-linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eee 100%);
	background-image: linear-gradient(#F4F4F4 20%,#F0F0F0 50%,#E8E8E8 52%,#EEE 100%);
	background-clip: padding-box;
	box-shadow: 0 0 2px #FFF inset,0 1px 0 rgba(0, 0, 0, 0.05);
	color: #333;
	cursor: default;
	float: left;
	line-height: 13px;
	margin: 3px 0 3px 5px;
	position: relative;
	padding: 5px 25px 5px 6px;
}

.vc_custom_select_custom_vals li button {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 16px;
	font-weight: 900;
	line-height: normal;
	position: absolute;
	margin: 0;
	padding: 1px 6px;
	right: 0;
	top: 0;
	z-index: 2;
}










/* icon_box */

#icon-dropdown i {
	font-size: 32px;
	margin:18px !important;
	display:inline-block;
}

#icon-dropdown {
	/*border: 1px solid #C7C7C7;*/
	width: 100%;
	height: 340px;
	overflow: scroll;
	overflow-x: hidden;
	margin: 10px 0px;
}

#icon-dropdown input#trace {
	display:none;
}

#icon-dropdown li:hover {
	background: #000;
	color: #fff;
}

#icon-dropdown li.selected {
	color: #fff;
	background:#999;
	border:1px solid #b39964;
}

.icon-preview {
	display: inline-block;
	/*width: 40px;
	height: 35px;*/
	text-align: center;
	padding:18px;
}

.icon-preview label {
	display: inline-block;
	margin:-5px 0 0 10px;
}

.icon-preview > i {
	font-size:32px;
	vertical-align: middle;
}
.wpb_element_label {
	margin-right: 15px;
	line-height: 30px;
}
.search {
	padding: 10px 15px !important;
	margin:17px 0 0 0 !important;
	width: 200px;
	border-color: #ddd;
	float:right;
}
#icon-dropdown > .icon-list {
	margin-top: 0px;
}
#icon-dropdown > .icon-list li {
	display: inline-block;
	/*padding: 0px 5px;*/
	cursor: pointer;
	border:1px solid #fff;
	margin-bottom: 0px;
	/*width: 40px;*/
	text-align: center;
}
#icon-dropdown > .icon-list label {
	display: none;
}
#icon-dropdown li.selected:hover {
	color: #FFF;
	background:#313131;
}
.wpb_el_type_icon .search {
	max-width: 220px;
	margin-left: 12px !important;
}
